<%- include("../partials/header", { developerPage: true }); %>
<div class="govuk-width-container app-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= datasetTitle %></h1>
                </div>
            </div>

            <%- include("../partials/dataset/status", { datasetStatus, publishingStatus }); %>

            <%= include('../partials/error-handler') %>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-tabs" data-module="govuk-tabs">
                        <h2 class="govuk-tabs__title">
                            <%= t('developer.display.contents') %>
                        </h2>
                        <%- include("../partials/tabs", {
                            tabs: [{ 
                                id: 'summary',
                                label: t('developer.display.summary')
                            }, { 
                                id: 'fact_table', 
                                label: t('developer.display.fact_table')
                            },
                            ...(dataset.measure
                                ? [{
                                    id: 'measure',
                                    label: t('developer.display.measure')
                                }] 
                                : []
                            ),
                            {
                                id: 'dimension',
                                label: t('developer.display.dimension')
                            },
                            {
                                id: 'revision',
                                label: t('developer.display.revision')
                            },
                            {
                                id: 'files',
                                label: t('developer.display.files')
                            },
                            {
                                id: 'json',
                                label: 'JSON'
                            }
                        ]}) %>
                        <div class="govuk-tabs__panel" id="summary">
                            <h2 class="govuk-heading-m"><%= t('developer.display.summary') %></h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-half">
                                    <%- include("../partials/table", {
                                        inverted: true,
                                        i18nBase: 'developer.display',
                                        columns: [
                                            'title',
                                            'id',
                                            'created_by_id',
                                        ],
                                        rows: [
                                            {
                                                title: locals.dataset?.revisions[0].metadata.title || t('errors.name_missing'),
                                                id: locals.dataset.id,
                                                created_by_id: locals.dataset.created_by_id
                                            },
                                        ]
                                    }); %>
                                </div>
                                <div class="govuk-grid-column-one-half">
                                    <%- include("../partials/table", {
                                        inverted: true,
                                        columns: [
                                            {
                                                key: 'created_at',
                                                label: t('developer.display.created_at'),
                                                format: (value) => value
                                                    ? dateFormat(value, 'd MMMM yyyy h:mm a', { locale: i18n.language })
                                                    : ''
                                            },
                                            {
                                                key: 'live',
                                                label: t('developer.display.live'),
                                                format: (value) => value
                                                    ? dateFormat(value, 'd MMMM yyyy h:mm a', { locale: i18n.language })
                                                    : ''
                                            },
                                        ],
                                        rows: [
                                            {
                                                created_at: locals.dataset.created_at,
                                                live: locals.dataset.live
                                            },
                                        ]
                                    }); %>
                                </div>
                            </div>
                        </div>
                        <div class="govuk-tabs__panel" id="fact_table">
                            <h2 class="govuk-heading-m"><%= t('developer.display.fact_table') %></h2>
                            <% if (locals.dataset?.fact_table?.length > 0) { %>
                                <%- include("../partials/table", {
                                    i18nBase: 'developer.display',
                                    columns: [
                                        'name',
                                        'index',
                                        'type',
                                        'data_type'
                                    ],
                                    rows: locals.dataset?.fact_table.map(row => ({ ...row, data_type: row.datatype }))
                                }); %>
                            <% } else { %>
                                <p class="govuk-body-l"><%= t('developer.display.error.no_fact_table') %></p>
                            <% } %>
                        </div>
                        <% if (dataset.measure) { %>
                        <div class="govuk-tabs__panel" id="measure">
                            <h2 class="govuk-heading-m"><%= t('developer.display.measure') %></h2>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <p class="govuk-body-m"></p>
                                    <%- include("../partials/table", {
                                        i18nBase: 'developer.display',
                                        columns: [
                                            'id',
                                            'fact_table_column',
                                            'join_column',
                                        ],
                                        rows: [locals.dataset?.measure]
                                    }); %>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-full">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                <%= t('developer.display.show_measure_table') %>
                                            </span>
                                        </summary>
                                        <%- include("../partials/table", {
                                            i18nBase: 'developer.display',
                                            columns: [
                                                'reference',
                                                'format',
                                                'decimals',
                                                'description',
                                                'notes',
                                                'sort_order',
                                                'hierarchy'
                                            ],
                                            rows: dataset.measure.measure_table
                                        }); %>
                                    </details>
                                </div>
                            </div>
                            <% if (locals.dataset?.measure && locals.dataset?.measure.lookup_table) { %>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-full">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            <%= t('developer.display.show_lookup_table_details') %>
                                        </span>
                                        </summary>
                                        <%- include("../partials/table", {
                                            inverted: true,
                                            i18nBase: 'developer.display',
                                            columns: [
                                                'id',
                                                'mime_type',
                                                'file_type',
                                                'filename',
                                                'hash',
                                                'uploaded_at',
                                                // TODO: download is missing
                                                'download'
                                            ],
                                            rows: [{
                                                ...locals.dataset?.measure.lookup_table,
                                                uploaded_at: dateFormat(locals.dataset?.measure.lookup_table.uploaded_at, 'd MMMM yyyy h:mm a', { locale: i18n.language })
                                            }]
                                        }); %>
                                    </details>
                                </div>
                            </div>
                            <% } %>
                        </div>
                        <% } %>
                        <div class="govuk-tabs__panel" id="dimension">
                            <h2 class="govuk-heading-m"><%= t('developer.display.dimension') %></h2>
                            <% if (locals.dataset?.dimensions?.length > 0) { %>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <div class="govuk-table__container">
                                        <table class="govuk-table dimension-table">
                                            <thead>
                                            <tr>
                                                <th scope="col" class="govuk-table__header"><%- t('developer.display.id') %></th>
                                                <th scope="col" class="govuk-table__header"><%- t('developer.display.type') %></th>
                                                <th scope="col" class="govuk-table__header"><%- t('developer.display.fact_table_column') %></th>
                                                <th scope="col" class="govuk-table__header"><%- t('developer.display.join_column') %></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <% locals.dataset?.dimensions?.forEach((dim) => { %>
                                                <tr>
                                                    <td class="govuk-table__cell" rowspan="2"><%= dim.id %></td>
                                                    <td class="govuk-table__cell"><%= dim.type %></td>
                                                    <td class="govuk-table__cell"><%= dim.factTableColumn%></td>
                                                    <td class="govuk-table__cell"><%= dim.joinColumn %></td>
                                                    <td class="govuk-table__cell">

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="govuk-table__cell" scope="row"><%- t('developer.display.extractor') %></td>
                                                    <td colspan="2" class="govuk-table__cell"><details class="govuk-details" data-module="govuk-details">
                                                            <summary class="govuk-details__summary">
                                                        <span class="govuk-details__summary-text">
                                                            <%= t('developer.display.show_extractor') %>
                                                        </span>
                                                            </summary>
                                                            <pre><code><%= JSON.stringify(dim.extractor, null, 2)%></code></pre>
                                                        </details></td>
                                                </tr>
                                            <% });%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-one-full">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                <%= t('developer.display.show_metadata') %>
                                            </span>
                                        </summary>
                                        <%- include("../partials/table", {
                                            i18nBase: 'developer.display',
                                            columns: [
                                                'id',
                                                'fact_table_column',
                                                'name',
                                                'description',
                                                'notes'
                                            ],
                                            rows: locals.dataset?.dimensions.map(dim => ({
                                                ...dim,
                                                ...dim.metadata,
                                                fact_table_column: dim.factTableColumn
                                            }))
                                        }); %>
                                    </details>
                                </div>
                            </div>

                            <style>
                                .dimension-table td {
                                    padding-top: 10px;
                                    padding-bottom: 10px;
                                }

                                .dimension-table details {
                                    border: none !important;
                                    padding: 0 !important;
                                }
                            </style>
                            <% } else { %>
                                <p class="govuk-body-l"><%= t('developer.display.error.display.no_dimensions') %></p>
                            <% } %>
                        </div>
                        <div class="govuk-tabs__panel" id="revision">
                            <h2 class="govuk-heading-m"><%= t('developer.display.revision') %></h2>
                            <% if (locals.dataset?.revisions?.length > 0) { %>
                                <% locals.dataset?.revisions?.forEach((rev) => { %>
                                    <p class="govuk-body"><strong>ID:</strong> <%= rev.id %></p>
                                    <p class="govuk-body"><strong><%- t('developer.display.index') %>:</strong> <%= rev.revision_index %></p>
                                    <p class="govuk-body"><strong><%- t('developer.display.created_at') %>:</strong> <%= rev.created_at %></p>
                                    <p class="govuk-body"><strong><%- t('developer.display.created_by') %>:</strong> <%= rev.created_by %></p>
                                <% });%>
                            <% } else { %>
                                <p class="govuk-body-l"><%= t('developer.display.error.no_revisions') %></p>
                            <% } %>
                        </div>
                        <div class="govuk-tabs__panel" id="files">
                            <h2 class="govuk-heading-m"><%- t('developer.display.download_files') %></h2>
                            <% fileList.forEach((sublist) => { %>
                            <div class="govuk-grid-row">
                                <% sublist.forEach((file) => { %>
                                <div class="govuk-grid-column-one-quarter" style="text-align: center;">
                                    <p>
                                        <a href="<%= file.link %> %>">
                                        <img src="/assets/images/dev-icons/<%= file.file_type %>-icon.svg" alt="<%= file.type %> Icon" width="64" height="64" style="margin-bottom: 10px"><br>
                                        <%= file.filename.replaceAll('_', ' ').replaceAll('-', ' ') %> (<%= file.type %>)</a>
                                    </p>
                                </div>
                                <% });%>
                            </div>
                        <% }); %>
                        </div>
                        <div class="govuk-tabs__panel" id="json">
                            <h2 class="govuk-heading-m">JSON</h2>
                            <textarea rows="20" cols="80"><%= JSON.stringify(locals.dataset, null, 2) %></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
        <% if (locals?.data) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full" style="text-align: right;">
                    <form method="get" role="page-size" class="govuk-!-margin-bottom-0">
                        <label class="govuk-label govuk-!-display-inline" for="page_size">
                            Page Size
                        </label>
                        <select class="govuk-select govuk-!-display-inline" id="page_size" name="page_size">
                            <option value="5" <% if (locals.page_size===5) { %>selected <% }; %>>5</option>
                            <option value="10" <% if (locals.page_size===10) { %>selected <% }; %>>10</option>
                            <option value="25" <% if (locals.page_size===25) { %>selected <% }; %>>25</option>
                            <option value="50" <% if (locals.page_size===50) { %>selected <% }; %>>50</option>
                            <option value="100" <% if (locals.page_size===100) { %>selected <% }; %>>100</option>
                            <option value="250" <% if (locals.page_size===250) { %>selected <% }; %>>250</option>
                            <option value="500" <% if (locals.page_size===500) { %>selected <% }; %>>500</option>
                        </select>
                        <input type="hidden" name="file" value="<%= locals.datafile_id %>">
                        <input type="hidden" name="page_number" value="1">
                        <button type="submit" class="govuk-button govuk-button-small govuk-!-display-inline" data-module="govuk-button">
                            <%= t('pagination.update') %>
                        </button>
                    </form>
                </div>
            </div>
            <div class="table-display">
                <%- include("../partials/table", {
                    columns: locals.headers.map((col, index) => ({
                        key: index,
                        label: (col.source_type !== 'line_number')
                            ? col.name || t('publish.preview.unnamed_column', { colNum: idx + 1 })
                            : t('publish.preview.row_number'),
                        cellClassName: col.source_type === 'line_number' ? 'line-number' :'',
                        className: col.source_type === 'line_number' ? 'line-number' :''
                    })),
                    rows: locals.data
                }) %>
            </div>

            <%- include("../partials/pagination", t, locals.current_page, locals.total_records, locals.pagaination); %>
        <% } %>
    </main>
</div>
<%- include("../partials/footer"); %>
