<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                          <%= t('developer.display.fact_table') %>
                        </span>
        </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header"><%- t('developer.display.name') %></th>
                <th scope="col" class="govuk-table__header"><%- t('developer.display.index') %></th>
                <th scope="col" class="govuk-table__header"><%- t('developer.display.type') %></th>
                <th scope="col" class="govuk-table__header"><%- t('developer.display.data_type') %></th>
            </tr>
            </thead>
            <tbody>
            <% locals.dataset?.fact_table?.forEach((row) => { %>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><%= row.name %></td>
                    <td class="govuk-table__cell"><%= row.index %></td>
                    <td class="govuk-table__cell"><%= row.type %></td>
                    <td class="govuk-table__cell"><%= row.datatype %></td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
