<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                          <%- t('developer.display.download_files') %>
                        </span>
        </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
        <% fileList.forEach((sublist) => { %>
            <div class="govuk-grid-row">
                <% sublist.forEach((file) => { %>
                    <div class="govuk-grid-column-one-quarter" style="text-align: center;">
                        <p>
                            <a href="<%= file.link %> %>">
                                <img src="/assets/images/dev-icons/<%= file.file_type %>-icon.svg" alt="<%= file.type %> Icon" width="64" height="64" style="margin-bottom: 10px"><br>
                                <%= file.filename.replaceAll('_', ' ').replaceAll('-', ' ') %> (<%= file.type %>)</a>
                        </p>
                    </div>
                <% });%>
            </div>
        <% }); %>
    </div>
</div>
