<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <%- include("../partials/flash-messages"); %>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><%= t('developer.heading') %></h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <% if (locals.data && locals.data.length > 0) { %>
                    <%- include("../partials/table", {
                        columns: [
                            {
                                key: 'title',
                                label: t('developer.list.table.title'),
                                format: (value, row) => {
                                    const url = `/${i18n.language}/developer/${row.id}`
                                    const label = value || `${dataset.title_alt} [${t('homepage.table.not_translated')}]`
                                    return `<a href="${url}" class="govuk-link">${label}</a>`
                                }
                            },
                            {
                                key: 'group_name',
                                label: t('developer.list.table.group'),
                                cellClassName: 'group'
                            },
                            {
                                key: 'revision_by',
                                label: t('developer.list.table.revision_by'),
                                cellClassName: 'group'
                            },
                            {
                                key: 'last_updated',
                                label: t('developer.list.table.last_updated'),
                                style: 'width: 15%',
                                format: (value) => dateFormat(value, 'd MMMM yyyy', { locale: i18n.language }),
                                cellClassName: 'date'
                            },
                            {
                                key: 'status',
                                label: t('developer.list.table.dataset_status'),
                                format: (value) => {
                                    if (!value) {
                                        return
                                    }
                                    const label = t(`homepage.status.${value}`)
                                    return `<strong class="govuk-tag govuk-tag--${statusToColour(value)}">${label}</strong>`
                                },
                                cellClassName: 'status'
                            },
                            {
                                key: 'publishing_status',
                                label: t('developer.list.table.publish_status'),
                                format: (value) => {
                                    if (!value) {
                                        return
                                    }
                                    const label = t(`homepage.publishing_status.${value}`)
                                    return `<strong class="govuk-tag govuk-tag--${statusToColour(value)}">${label}</strong>`
                                },
                                cellClassName: 'status'
                            },
                            {
                                key: 'id',
                                label: '',
                                format: (value) => {
                                    const url = `/${i18n.language}/publish/${value}/tasklist`
                                    return `<a href="${url}" class="govuk-link">
                                        <i class="fa-solid fa-list-check"></i> ${t('developer.list.tasklist') }
                                    </a>`
                                }
                            }
                        ],
                        rows: locals.data
                    }); %>

                    <% if (locals.total_pages > 1) { %>
                        <%- include("../partials/pagination"); %>
                    <% } %>
                <% } %>
            </div>
        </div>

    </main>
</div>

<style>
    td.date, td.status {
        white-space: nowrap;
    }
    .govuk-tag {
        max-width: none;
    }
</style>

<%- include("../partials/footer"); %>
