<div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                          <%= t('developer.display.measure') %>
                        </span>
        </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body-m"></p>
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header"><%- t('developer.display.id') %></th>
                        <th scope="col" class="govuk-table__header"><%- t('developer.display.fact_table_column') %></th>
                        <th scope="col" class="govuk-table__header"><%- t('developer.display.join_column') %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><%= locals.dataset?.measure.id %></td>
                        <td class="govuk-table__cell"><%= locals.dataset?.measure.fact_table_column %></td>
                        <td class="govuk-table__cell"><%= locals.dataset?.measure.join_column %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-full">
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                                                <span class="govuk-details__summary-text">
                                                    <%= t('developer.display.show_measure_table') %>
                                                </span>
                    </summary>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.reference') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.format') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.decimals') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.description') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.notes') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.sort_order') %></th>
                            <th scope="col" class="govuk-table__header"><%- t('developer.display.hierarchy') %></th>
                        </tr>
                        </thead>
                        <tbody>
                        <% dataset.measure.measure_table.map((row) => { %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><%= row.reference %></td>
                                <td class="govuk-table__cell"><%= row.format %></td>
                                <td class="govuk-table__cell"><%= row.decimals %></td>
                                <td class="govuk-table__cell"><%= row.description %></td>
                                <td class="govuk-table__cell"><%= row.notes %></td>
                                <td class="govuk-table__cell"><%= row.sort_order %></td>
                                <td class="govuk-table__cell"><%= row.hierarchy %></td>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </details>
            </div>
        </div>
        <% if (locals.dataset?.measure && locals.dataset?.measure.lookup_table) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-full">
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                <%= t('developer.display.show_lookup_table_details') %>
                                            </span>
                        </summary>
                        <table class="govuk-table">
                            <tbody class="govuk-table__body">
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.id') %></th>
                                <td class="govuk-table__cell"><%= locals.dataset?.measure.lookup_table.id %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.mime_type') %></th>
                                <td class="govuk-table__cell"><%= locals.dataset?.measure.lookup_table.mime_type %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.file_type') %></th>
                                <td class="govuk-table__cell"><%= locals.dataset?.measure.lookup_table.file_type %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.filename') %></th>
                                <td class="govuk-table__cell"><%= locals.dataset?.measure.lookup_table.filename %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.hash') %></th>
                                <td class="govuk-table__cell"><%= locals.dataset?.measure.lookup_table.hash %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.uploaded_at') %></th>
                                <td class="govuk-table__cell"><%= dateFormat(locals.dataset?.measure.lookup_table.uploaded_at, 'd MMMM yyyy h:mm a', { locale: i18n.language }) %></td>
                            </tr>
                            <tr>
                                <th scope="row" class="govuk-table__header"><%- t('developer.display.download') %></th>
                                <td class="govuk-table__cell"></td>
                            </tr>
                            </tbody>
                        </table>
                    </details>
                </div>
            </div>
        <% } %>
    </div>
</div>
