<div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="developer" role="tabpanel" aria-labelledby="tab_developer">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
                <%- include('summary.ejs') %>
                <% if (locals.dataset?.fact_table?.length > 0) { %>
                    <%- include('fact-table.ejs') %>
                <% } %>
                <% if (locals.dataset?.measure) { %>
                    <%- include('measure.ejs') %>
                <% } %>
                <% if (locals.dataset?.dimensions?.length > 0) { %>
                    <%- include('dimensions.ejs') %>
                <% } %>
                <% if (locals.dataset?.revisions?.length > 0) { %>
                    <%- include('revisions.ejs') %>
                <% } %>
                <%- include('files.ejs') %>
                <%- include('json.ejs') %>
            </div>
        </div>
    </div>
</div>
<style>
  .wg .govuk-accordion__section {
    background-color: #ffffff;
  }
</style>
