<%- include("partials/header"); %>

    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row govuk-!-margin-bottom-6">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-m"><%= t('consumer.list.heading') %></h2>
                </div>
            </div>

            <div class="govuk-grid-row govuk-!-margin-bottom-5">
                <div class="govuk-grid-column-two-thirds">
                    <p>
                        <span class="govuk-!-font-size-36 govuk-!-font-weight-bold"><%= locals.count %></span>
                        <span class="govuk-!-font-size-24"> <%= t('consumer.list.total_datasets') %></span>
                    </p>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--2 govuk-section-break--visible">
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <ul class="govuk-list">
                        <% for (const dataset of locals.data) { %>
                            <li class="index-list__item">
                                <a href="<%= buildUrl(`/published/${dataset.id}`, i18n.language) %>">
                                    <h3 class="govuk-heading-xs govuk-!-margin-bottom-0"><%= dataset.title %></h3>
                                </a>
                                <div class="index-list__meta">
                                    <p><span class="govuk-body-s caption index-list__item__meta"><%= dateFormat(dataset.published_date, 'd MMMM yyyy') %></span></p>
                                </div>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </div>

            <% if (locals.total_pages > 1) { %>
                <%- include("../partials/pagination"); %>
            <% } %>

        </main>
    </div>

    <%- include("partials/footer"); %>
