<%- include("partials/header"); %>

    <div class="govuk-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">

        <h1 class="govuk-heading-xl"><%= preview.title %></h1>

        <%- include("../partials/dataset/key-info", { keyInfo: preview.keyInfo }); %>

        <%- include("../partials/dataset/download"); %>

        <%- include("../partials/dataset/notes", { notes: preview.notes }); %>

        <%- include("../partials/dataset/about", { about: preview.about }); %>

        <%- include("../partials/dataset/published", { published: preview.published }); %>

      </main>
    </div>

<%- include("partials/footer"); %>
