<div class="dataset-key-information">

  <h2 class="govuk-heading-m"><%= t('dataset_view.key_information.heading') %></h2>

  <dl class="govuk-summary-list">

    <div id="last-updated" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.key_information.last_update') %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%= locals.dateFormat(keyInfo.updatedAt, 'd MMMM yyyy') %>
        </dd>
    </div>

    <div id="next-updated" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.key_information.next_update') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= (keyInfo.nextUpdateAt) ? locals.dateFormat(keyInfo.nextUpdateAt, 'MMMM yyyy') : t('dataset_view.key_information.next_update_missing') %>
        </dd>
    </div>

    <% if (keyInfo.providers.length > 0) { %>
      <% for (let [idx, provider] of keyInfo.providers.entries()) { %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= (keyInfo.providers?.length > 1) ? t('dataset_view.key_information.data_providers', { index: idx + 1 }) : t('dataset_view.key_information.data_provider') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= provider.provider_name %>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= (keyInfo.providers?.length > 1) ? t('dataset_view.key_information.data_sources', { index: idx + 1 }) : t('dataset_view.key_information.data_source') %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= provider.source_name ? provider.source_name : t('dataset_view.key_information.no_source') %>
          </dd>
        </div>
      <% } %>
    <% } else { %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('dataset_view.key_information.data_provider') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t('dataset_view.not_selected') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('dataset_view.key_information.data_source') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t('dataset_view.not_selected') %>
        </dd>
      </div>
    <% } %>

    <div id="time-period" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.key_information.time_covered') %>
        </dt>
        <dd class="govuk-summary-list__value">
            <% if (keyInfo.timePeriod.start && keyInfo.timePeriod.end) { %>
                <%= t('dataset_view.key_information.time_period', { start: locals.dateFormat(keyInfo.timePeriod.start, 'MMMM yyyy'), end: locals.dateFormat(keyInfo.timePeriod.end, 'MMMM yyyy') }) %>
            <% } else { %>
                <%= t('dataset_view.period_cover_missing') %>
            <% } %>
        </dd>
    </div>
  </dl>

</div>
