<div class="dataset-notes">

  <h2 class="govuk-heading-m govuk-!-margin-top-6"><%= t('dataset_view.notes.heading') %></h2>

  <dl class="govuk-summary-list">

    <div id="revisions" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.notes.revisions') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <% for (const revision of notes.publishedRevisions) { %>
              <li>
                <strong><%= locals.dateFormat(revision.publish_at, 'd MMMM yyyy') %></strong>
              </li>
            <% } %>
          </ul>
        </dd>
    </div>

    <div id="data-value-shorthand" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.notes.data_value_shorthand') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t('dataset_view.not_available') %>
        </dd>
    </div>

    <% if (notes.roundingApplied) { %>
      <div id="data-rounding" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <%= t('dataset_view.notes.rounding') %>
        </dt>
        <dd class="govuk-summary-list__value">
            <%- notes.roundingDescription %>
        </dd>
      </div>
    <% } %>

  </dl>

</div>
