    <footer class="wg-footer">
        <div class="govuk-width-container govuk-!-padding-top-9">
            <ul class="footer-menu govuk-list">
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.contact_us') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.accessibility') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.copyright_statement') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.cookies') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.privacy') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.terms_conditions') %>
                    </a>
                </li>
                <li class="govuk-footer__inline-list-item">
                    <a class="govuk-footer__link" href="#">
                        <%= t('footer.modern_slavery') %>
                    </a>
                </li>
            </ul>
            <div class="wg-footer-logo"></div>
            <div><br><br></div>
        </div>
    </footer>

    <script type="module" src="/assets/js/govuk-frontend.min.js"></script>
    <script type="module">
        import { initAll } from '/assets/js/govuk-frontend.min.js'
        initAll()
    </script>
    <script src="https://kit.fontawesome.com/f6f4af2d4c.js" crossorigin="anonymous"></script>
</body>

</html>
