<table class="govuk-table sticky-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <% headers.forEach(function(cell, idx) { %>
                <th scope="col" class="govuk-table__header <%= cell.source_type === 'line_number' ? 'line-number' :'' %>">
                        <%= cell.name %>
                </th>
            <% }); %>
        </tr>
    </thead>
    <tbody>
    <% data.forEach(function(row) { %>
        <tr>
            <% row.forEach(function(cell, index) { %>
                <% if (headers[index].source_type === 'line_number') { %>
                    <td class="govuk-table__cell line-number"><span class="linespan"><%= cell %></span></td>
                <% } else { %>
                    <td class="govuk-table__cell">
                        <% if(headers[index].name === t('consumer_view.start_data') || headers[index].name === t('consumer_view.end_data')) { %>
                            <%= locals.dateFormat(locals.parseISO(cell.split('T')[0]), 'do MMMM yyyy') %>
                        <% } else { %>
                            <%= cell %>
                        <% } %>
                    </td>
                <% } %>
            <% }); %>
        </tr>
    <% }); %>
    </tbody>
</table>
