<%- include("../../partials/header"); %>

<div class="govuk-width-container app-width-container">
	<main class="govuk-main-wrapper" id="main-content" role="main">

			<div class="top-links">
					<div class="govuk-width-container">
							<a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
							<a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
					</div>
			</div>

			<div class="govuk-width-container">
				<h1 class="govuk-heading-xl"><%= t('translations.export.heading') %></h1>

				<%- include("../../partials/translations-preview-table", { translations, isImport: false }); %>

				<div class="govuk-button-group">
					<a href="<%= buildUrl(`/publish/${locals.datasetId}/translation/export?format=csv`, i18n.language) %>" class="govuk-button"><%= t('translations.export.buttons.export') %></a>
				</div>
			</div>

	</main>
</div>

<style>
	.translation-export td {
		white-space: pre-line;
	}
</style>

<%- include("../../partials/footer"); %>
