<%- include("../../partials/header", {
    backLink: "javascript:history.back()",
    returnLink: buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <div class="govuk-width-container">
                <% if (locals.preview) { %>
                    <h1 class="govuk-heading-xl"><%= t('translations.import.heading_preview') %></h1>

                    <table class="govuk-table translation-import">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header"><%= t('translations.import.table.field') %></th>
                                <th scope="col" class="govuk-table__header"><%= t('translations.import.table.english') %></th>
                                <th scope="col" class="govuk-table__header"><%= t('translations.import.table.welsh') %></th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <% translations.forEach(function(translation) { %>
                                <tr class="govuk-table__row">
                                    <% if (translation.type === 'dimension') { %>
                                        <td class="govuk-table__cell"><%= t(`translations.export.dimension`, { key: translation.key }) %></td>
                                    <% } else if (translation.type === 'metadata') { %>
                                        <td class="govuk-table__cell"><%= t(`translations.export.field.${translation.key}`) %></td>
                                    <% } else if (translation.type === 'link') { %>
                                        <td class="govuk-table__cell"><%= t(`translations.export.link`, { key: translation.key }) %></td>
                                    <% } %>
                                    <td class="govuk-table__cell"><%= translation.english %></td>
                                    <td class="govuk-table__cell"><%= translation.cymraeg %></td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>

                    <a href="<%= buildUrl(`/publish/${locals.datasetId}/translation/import?confirm=true`, i18n.language) %>" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                        <%= t('buttons.continue') %>
                    </a>
                <% } else { %>
                    <h1 class="govuk-heading-xl"><%= t('translations.import.heading') %></h1>

                    <%- include("../../partials/translations-preview-table", { translations: existingTranslations, isImport: true }); %>

                    <div class="govuk-inset-text">
                        <%= t('translations.import.note') %>
                    </div>

                    <%- include("../../partials/error-handler"); %>
                    <form action="<%= buildUrl(`/publish/${locals.datasetId}/translation/import`, i18n.language) %>" method="post" enctype="multipart/form-data">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="csv">
                                <%= t('translations.import.form.file.label') %>
                            </label>
                            <input class="govuk-file-upload" id="csv" name="csv" type="file" placeholder="" accept=".csv,text/csv">
                        </div>
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            <%= t('translations.import.buttons.import') %>
                        </button>
                    </form>
                <% } %>

            </div>
        </main>
    </div>
</div>
<style>
	.translation-import td {
		white-space: pre-line;
	}
</style>

<%- include("../../partials/footer"); %>
