<%- include("../partials/header", {
    backLink: locals.referrer,
    returnLink: buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <span class="region-subhead"><%= dimension.metadata.name %></span>
            <% if (locals.review) { %>
                <h1 class="govuk-heading-xl"><%= t('publish.time_dimension_review.heading') %></h1>
            <% } else { %>
                <h1 class="govuk-heading-xl"><%= t('publish.time_dimension_chooser.heading') %></h1>
            <% } %>

            <%- include("../partials/error-handler"); %>

            <% if (locals?.data) { %>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full with-overflow">
                        <%- include("../partials/table", {
                            columns: locals.headers.map((col, index) => ({
                                key: index,
                                label: locals.dimension?.extractor && t(`publish.time_dimension_review.column_headers.${col.name}`) !== `publish.time_dimension_review.column_headers.${col.name}`
                                    ? t(`publish.time_dimension_review.column_headers.${col.name}`)
                                    : col.name === locals.dimension.factTableColumn
                                        ? locals.dimension.metadata.name
                                        : col.name,
                                format: (value) => {
                                    switch (col.name) {
                                        case 'start_date':
                                        case 'end_date':
                                            return locals.dateFormat(locals.parseISO(value.split('T')[0]), 'do MMMM yyyy');
                                        case 'date_type':
                                            return t(`publish.time_dimension_review.year_type.${value}`)
                                    }
                                    return value
                                }
                            })),
                            rows: locals.data
                        }) %>
                        <% if (locals.page_info?.total_records > locals.page_size) { %>
                            <p class="govuk-body govuk-hint"><%= t('publish.time_dimension_review.showing', { rows: locals.page_size, total: locals.page_info.total_records }) %></p>
                        <% } %>
                    </div>
                </div>

                <% if (locals.review) { %>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <form method="post" role="continue">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading">
                                            <%= t('publish.time_dimension_review.confirm') %>
                                        </h2>
                                    </legend>
                                    <div class="govuk-button-group">
                                        <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                            <%= t('buttons.continue') %>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <form method="post" role="continue">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                            <h2 class="govuk-fieldset__heading">
                                                <%= t('publish.time_dimension_chooser.question') %>
                                            </h2>
                                        </legend>
                                        <div class="govuk-radios" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="dimensionTypePeriod" name="dimensionType" type="radio" value="time_period">
                                                <label class="govuk-label govuk-radios__label" for="dimensionTypePeriod">
                                                    <%= t('publish.time_dimension_chooser.chooser.period')%>
                                                </label>
                                                <div class="govuk-hint govuk-radios__hint">
                                                    <%= t('publish.time_dimension_chooser.chooser.period-hint')%>
                                                </div>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="dimensionTypePoint" name="dimensionType" type="radio" value="time_point">
                                                <label class="govuk-label govuk-radios__label" for="dimensionTypePoint">
                                                    <%= t('publish.time_dimension_chooser.chooser.point')%>
                                                </label>
                                                <div class="govuk-hint govuk-radios__hint">
                                                    <%= t('publish.time_dimension_chooser.chooser.point-hint')%>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="govuk-button-group">
                                    <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                        <%= t('buttons.continue') %>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %> <!-- Do I have data? -->
        </main>
    </div>
</div>
<%- include("../partials/footer"); %>
