<%- include("../partials/header", {
    backLink: buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language),
    returnLink: buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>
<div class="form-background">
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper " id="main-content" role="main">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2"><%= datasetTitle %></h1>
                </div>
            </div>

            <%- include("../partials/dataset/status", { datasetStatus, publishingStatus }); %>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <%- include("../partials/error-handler"); %>

                    <div class="warning-background">
                        <div class="govuk-error-message alert-warning">
                            <form method="post">
                                <fieldset class="govuk-fieldset" role="group">
                                    <h2 class="govuk-heading-l"><%= t(`publish.delete_draft.${publishingStatus === 'incomplete' ? 'dataset' : 'update'}.heading`) %></h2>

                                    <p class="govuk-heading-s"><%= t(`publish.delete_draft.${publishingStatus === 'incomplete' ? 'dataset' : 'update'}.message`) %></p>

                                    <button class="govuk-button govuk-button--warning" data-module="govuk-button"><%= t(`publish.delete_draft.${publishingStatus === 'incomplete' ? 'dataset' : 'update'}.button`) %></button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%- include("../partials/footer"); %>
