<%- include("../partials/header"); %>
<div class="govuk-width-container app-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="top-links">
            <div class="govuk-width-container">
                <a href="<%= locals.referrer %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <p class="govuk-body-l region-subhead govuk-!-font-weight-bold"><%= locals.dimensionName %></p>
        <h1 class="govuk-heading-xl"><%= t('publish.dimension_name.heading') %></h1>

        <%- include("../partials/error-handler"); %>

        <p class="govuk-body"><%= t('publish.dimension_name.hint') %></p>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('publish.dimension_name.concise') %></li>
            <li><%= t('publish.dimension_name.language') %></li>
        </ul>

        <form enctype="multipart/form-data" method="post">
            <div class="govuk-form-group">
                <input class="govuk-input" id="name" name="name" type="text" value="<%= locals.dimensionName %>">
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('buttons.continue') %>
                </button>
                <% if (locals.changeName) { %>
                    <% if (locals.type === 'time_period' || locals.type === 'time_point') { %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/time-period/${locals.id}`, i18n.language) %>" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                            <%= t('buttons.cancel') %>
                        </a>
                    <% } else { %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/dimension-data-chooser/${locals.id}`, i18n.language) %>" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                            <%= t('buttons.cancel') %>
                        </a>
                    <% } %>
                <% } %>
            </div>
        </form>
    </main>
</div>

<%- include("../partials/footer"); %>
