<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="top-links">
            <div class="govuk-width-container">
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <span class="region-subhead"><%= locals.dimension.metadata.name %></span>
        <h1 class="govuk-heading-xl"><%= locals.dimension.metadata?.name || t('publish.time_dimension_review.unknown_name') %></h1>

        <%- include("../partials/error-handler"); %>

        <% if (locals?.data) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full with-overflow">
                    <%- include("../partials/dimension-preview-table.ejs", { dimension: locals.dimension, headers: locals.headers, data: locals.data }) %>
                    <% if (locals.page_info?.total_records > locals.page_size) { %>
                        <p class="govuk-body govuk-hint"><%= t('publish.lookup_table_review.showing', { rows: locals.page_size, total: locals.page_info.total_records }) %></p>
                    <% } %>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">
                        <%= t('publish.time_dimension_review.actions') %>
                    </h2>
                    <ul class="govuk-list">
                        <% if (dimension.type === 'lookup_table') { %>
                            <li><a href="<%= buildUrl(`/publish/${locals.datasetId}/lookup/${locals.dimension.id}/`, i18n.language) %>" class="govuk-link"><%= t('publish.lookup_table_review.change_lookup_table') %></li>
                        <% } else if (dimension.type === 'date_period' || dimension.type === 'date') { %>
                            <li><a href="<%= buildUrl(`/publish/${locals.datasetId}/dates/${locals.dimension.id}/change-format`, i18n.language) %>" class="govuk-link"><%= t('publish.lookup_table_review.change_date_format') %></li>
                        <% } %>
                        <li><a href="<%= buildUrl(`/publish/${locals.datasetId}/dimension/${locals.dimension.id}/change-type`, i18n.language) %>" class="govuk-link"><%= t('publish.lookup_table_review.change_dimension_type') %></li>
                        <li><a href="<%= buildUrl(`/publish/${locals.datasetId}/dimension/${locals.dimension.id}/change-name`, i18n.language) %>" class="govuk-link"><%= t('publish.time_dimension_review.change_name') %></a></li>
                    </ul>
                </div>
            </div>
        <% } %> <!-- Do I have data? -->
    </main>
</div>

<style>
</style>
<%- include("../partials/footer"); %>
