<%- include("../partials/header"); %>
<div class="govuk-width-container app-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="top-links">
            <div class="govuk-width-container">
                <% if (locals.revisit) { %>
                    <% if (locals.dimensionType ==='measure') { %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/measure`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                    <% } else { %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/dimension-data-chooser/${locals.id}`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                    <% } %>
                <% } else { %>
                    <% switch (locals.dimensionType) {
                        case 'measure': %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/measure/review`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% break;
                        case 'date_period':
                        case 'date': %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/date/${locals.id}/review`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% break;
                            default: %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/lookup/${locals.id}/review`, i18n.language) %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                    <% } %>
                <% } %>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <p class="govuk-body-l region-subhead govuk-!-font-weight-bold"><%= locals.columnName %></p>
        <h1 class="govuk-heading-xl">
            <% if (locals.dimensionType === 'measure') { %>
                <%= t('publish.dimension_name.measure_heading') %>
            <% } else { %>
                <%= t('publish.dimension_name.dimension_heading') %>
            <% } %>
        </h1>

        <%- include("../partials/error-handler"); %>

        <p class="govuk-body"><%= t('publish.dimension_name.hint') %></p>
        <ul class="govuk-list govuk-list--bullet">
            <li><%= t('publish.dimension_name.concise') %></li>
            <li><%= t('publish.dimension_name.unique') %></li>
            <li><%= t('publish.dimension_name.language') %></li>
        </ul>

        <form enctype="multipart/form-data" method="post">
            <div class="govuk-form-group">
                <input class="govuk-input" id="name" name="name" type="text" value="<%= locals.dimensionName %>">
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('buttons.continue') %>
                </button>
            </div>
        </form>
    </main>
</div>

<%- include("../partials/footer"); %>
