<%- include("../partials/header", t); %>

<div class="govuk-width-container app-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="top-links">
            <div class="govuk-width-container">
                <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <h1 class="govuk-heading-xl"><%= t('publish.dimension_type_chooser.heading') %></h1>

        <%- include("../partials/error-handler"); %>

        <% if (locals?.data) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full with-overflow">
                    <table class="govuk-table">
                        <colgroup>
                            <% locals.headers.forEach(function(cell, idx) { %>
                                <col class="<%= cell.type === 'ignore' ? 'ignore-column' : '' %>" />
                            <% }); %>
                        </colgroup>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <% locals.headers.forEach(function(cell, idx) { %>
                                <th scope="col" class="govuk-table__header">
                                    <% if (i18n.exists(`publish.lookup_table_review.column_headers.${cell.name.toLowerCase()}`)) { %>
                                        <%= t(`publish.lookup_table_review.column_headers.${cell.name.toLowerCase()}`) %>
                                    <% } else { %>
                                        <%= cell.name %>
                                    <% } %>
                                </th>
                            <% }); %>
                        </tr>
                        </thead>
                        <tbody>
                        <% locals.data.forEach(function(row) { %>
                            <tr>
                                <% row.forEach(function(cell, index) { %>
                                    <% if (locals.headers[index].source_type === 'line_number') { %>
                                        <td class="govuk-table__cell line-number"><span class="linespan"><%= cell %></span></td>
                                    <% } else { %>
                                        <td class="govuk-table__cell"><%= cell %></td>
                                    <% } %>
                                <% }); %>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                    <% if (locals.page_info?.total_records > locals.page_size) { %>
                        <p class="govuk-body govuk-hint"><%= t('publish.lookup_table_review.showing', { rows: locals.page_size, total: locals.page_info.total_records }) %></p>
                    <% } %>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form method="post" role="continue">
                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h2 class="govuk-fieldset__heading">
                                        <%= t('publish.dimension_type_chooser.question') %>
                                    </h2>
                                </legend>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <% if (false) { %> <!-- Disabled for private beta while a decision is made on reference data -->
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="dimensionTypeAge" name="dimensionType" type="radio" value="Age" disabled>
                                            <label class="govuk-label govuk-radios__label" for="dimensionTypeAge">
                                                <%= t('publish.dimension_type_chooser.chooser.age')%>
                                            </label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="dimensionTypeEthnicity" name="dimensionType" type="radio" value="Eth"  disabled>
                                            <label class="govuk-label govuk-radios__label" for="dimensionTypeEthnicity">
                                                <%= t('publish.dimension_type_chooser.chooser.ethnicity')%>
                                            </label>
                                        </div>
                                    <% } %>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="dimensionTypeGeography" name="dimensionType" type="radio" value="Geog">
                                        <label class="govuk-label govuk-radios__label" for="dimensionTypeGeography">
                                            <%= t('publish.dimension_type_chooser.chooser.geography')%>
                                        </label>
                                    </div>
                                    <% if (false) { %> <!-- Disabled for private beta while a decision is made on reference data -->
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="dimensionTypeReligion" name="dimensionType" type="radio" value="Rlgn" disabled>
                                                <label class="govuk-label govuk-radios__label" for="dimensionTypeReligion">
                                                    <%= t('publish.dimension_type_chooser.chooser.religion')%>
                                                </label>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="dimensionTypeSexGender" name="dimensionType" type="radio" value="Gen" disabled>
                                                <label class="govuk-label govuk-radios__label" for="dimensionTypeSexGender">
                                                    <%= t('publish.dimension_type_chooser.chooser.sex_gender')%>
                                                </label>
                                            </div>
                                    <% } %>
                                    <div class="govuk-radios__divider">or</div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="dimensionTypeTimeLookup" name="dimensionType" type="radio" value="lookup">
                                        <label class="govuk-label govuk-radios__label" for="dimensionTypeTimeLookup">
                                            <%= t('publish.dimension_type_chooser.chooser.lookup')%>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="govuk-button-group">
                            <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                <%= t('buttons.continue') %>
                            </button>
                            <% if (locals.changeType) { %>
                                <a href="<%= buildUrl(`/publish/${locals.datasetId}/dimension-data-chooser/${locals.dimension.id}`, i18n.language) %>" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                    <%= t('buttons.cancel') %>
                                </a>
                            <% } %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/cube-preview`, i18n.language) %>" target="_blank" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                <%= t('buttons.preview') %>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        <% } %> <!-- Do I have data? -->
    </main>
</div>

<style>
</style>
<%- include("../partials/footer"); %>
