<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="top-links">
            <div class="govuk-width-container">
                <a href="<%= locals.referrer %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <p class="govuk-heading-s region-subhead"><%= dimension.metadata.name %></p>
        <% if (dimension.type === 'lookup_table') { %>
            <h1 class="govuk-heading-xl"><%= t('publish.lookup_table_review.heading') %></h1>
        <% } else { %>
            <h1 class="govuk-heading-xl"><%= t('publish.lookup_table_review.dimension_heading') %></h1>
        <% } %>
        <%- include("../partials/error-handler"); %>

        <% if (locals?.data) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full with-overflow">
                    <%- include("../partials/dimension-preview-table.ejs", { dimension: locals.dimension, headers: locals.headers, data: locals.data }) %>
                    <% if (locals.page_info?.total_records > locals.page_size) { %>
                        <p class="govuk-body govuk-hint"><%= t('publish.lookup_table_review.showing', {rows: locals.page_size, total: locals.page_info.total_records}) %></p>
                    <% } %>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form method="post" role="continue">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                <% if (dimension.type === 'lookup_table') { %>
                                    <h2 class="govuk-fieldset__heading">
                                        <%= t('publish.lookup_table_review.confirm') %>
                                    </h2>
                                <% } else { %>
                                    <h2 class="govuk-fieldset__heading">
                                        <%= t('publish.lookup_table_review.dimension_confirm') %>
                                    </h2>
                                <% } %>
                            </legend>
                            <div class="govuk-button-group">
                                <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                    <%= t('buttons.continue') %>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        <% } %> <!-- Do I have data? -->
    </main>
</div>

<style>
    th {
        vertical-align: bottom !important;
    }
</style>
<%- include("../partials/footer"); %>
