<%- include("../partials/header", t); %>


<main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-width-container app-width-container">
        <div class="top-links">
            <div class="govuk-width-container">
                <a href="<%= locals.referrer %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <h1 class="govuk-heading-xl"><%= t('publish.measure_preview.heading') %></h1>

        <%- include("../partials/error-handler"); %>

        <% if (locals?.data) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full with-overflow">
                    <table class="govuk-table">
                        <colgroup>
                            <% locals.headers.forEach(function(cell, idx) { %>
                                <col class="<%= cell.type === 'ignore' ? 'ignore-column' : '' %>" />
                            <% }); %>
                        </colgroup>
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <% locals.headers.forEach(function(cell, idx) { %>
                                <th scope="col" class="govuk-table__header">
                                    <% if (t(`publish.measure_review.column_headers.${cell.name.toLowerCase()}`) === `publish.measure_review.column_headers.${cell.name.toLowerCase()}`) { %>
                                        <%= cell.name %>
                                    <% } else { %>
                                        <%= t(`publish.measure_review.column_headers.${cell.name.toLowerCase()}`) %>
                                    <% } %>
                                </th>
                            <% }); %>
                        </tr>
                        </thead>
                        <tbody>
                        <% locals.data.forEach(function(row) { %>
                            <% if (locals.langCol > -1 && row[locals.langCol] !== i18n.language.toLowerCase() ) return; %>
                            <tr>
                                <% row.forEach(function(cell, index) { %>
                                    <td class="govuk-table__cell">
                                        <% switch (locals.headers[index].name.toLowerCase()) {
                                            case 'start_date':
                                        case 'end_date': %>
                                        <%= locals.dateFormat(locals.parseISO(cell.split('T')[0]), 'do MMMM yyyy') %>
                                        <% break;
                                        case 'date_type': %>
                                        <%= t(`publish.measure_review.year_type.${cell}`) %>
                                        <% break;
                                        default: %>
                                        <% if (cell) { %>
                                            <% if (t(`publish.measure_review.column_values.${cell.toString().toLowerCase()}`) === `publish.measure_review.column_values.${cell.toString().toLowerCase()}`) { %>
                                                <%= cell %>
                                            <% } else { %>
                                                <%= t(`publish.measure_review.column_values.${cell.toString().toLowerCase()}`) %>
                                            <% } %>
                                        <% } %>
                                        <% } %>
                                    </td>
                                <% }); %>
                            </tr>
                        <% }); %>
                        </tbody>
                    </table>
                    <% if (locals.page_info?.total_records > locals.page_size) { %>
                        <p class="govuk-body govuk-hint"><%= t('publish.measure_review.showing', {rows: locals.page_size, total: locals.page_info.total_records}) %></p>
                    <% } %>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <form method="post" role="continue" enctype="multipart/form-data">
                        <fieldset class="govuk-fieldset">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-label--m" for="csv">
                                    <%= t('publish.upload.form.file.label') %>
                                </label>
                                <input class="govuk-file-upload" id="csv" name="csv" type="file" placeholder="Upload Data Files!" accept=".csv,.parquet,.json,.xls,.xlsx,.gz,text/csv,application/vnd.apache.parquet,application/parquet,application/json,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msexcel,application/gzip">
                            </div>
                            <div class="govuk-form-group">
                                <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                    <%= t('buttons.upload_csv') %>
                                </button>
                                <a href="<%= buildUrl(`/publish/${locals.datasetId}/cube-preview`, i18n.language) %>" target="_blank" class="govuk-button govuk-button--secondary" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                    <%= t('buttons.preview') %>
                                </a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        <% } %> <!-- Do I have data? -->
    </div>
</main>

<style>
</style>

<%- include("../partials/footer"); %>
