<%- include("../partials/header"); %>
<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="top-links">
            <div class="govuk-width-container">
                <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"><%= t('publish.organisation.heading') %></h1>

                    <%- include("../partials/error-handler"); %>

                    <form enctype="multipart/form-data" method="post">
                        <div class="govuk-form-group <%= locals.errors?.find(e => e.field === 'organisation') ? 'govuk-input--error' : '' %>">
                            <h2 class="govuk-heading-s"><%= t('publish.organisation.form.organisation.label') %></h2>
                            <% if (locals.errors?.find(e => e.field === 'organisation')) { %>
                                <p id="publication-time-error" class="govuk-error-message">
                                  <span class="govuk-visually-hidden">Error:</span> <%= t('publish.organisation.form.organisation.error') %>
                                </p>
                            <% } %>
                            <select id="organisation" name="organisation" class="govuk-select" aria-describedby="source-hint" data-child="team">
                                <option value="" selected disabled><%= t('publish.organisation.form.organisation.placeholder') %></option>
                                <% for (let organisation of locals.organisations) { %>
                                    <option value="<%= organisation.id %>" <%= locals.values?.organisation === organisation.id ? 'selected' : '' %>><%= organisation.name %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="govuk-form-group <%= locals.errors?.find(e => e.field === 'team') ? 'govuk-input--error' : '' %>">
                            <h2 class="govuk-heading-s"><%= t('publish.organisation.form.team.label') %></h2>
                            <p class="govuk-body"><%- t('publish.organisation.form.team.note') %></p>
                            <% if (locals.errors?.find(e => e.field === 'team')) { %>
                                <p id="publication-time-error" class="govuk-error-message">
                                  <span class="govuk-visually-hidden">Error:</span> <%= t('publish.organisation.form.team.error') %>
                                </p>
                            <% } %>
                            <select id="team" name="team" class="govuk-select" aria-describedby="source-hint">
                              <option value="" selected disabled><%= t('publish.organisation.form.team.placeholder') %></option>
                              <% for (let team of locals.teams) { %>
                                  <option value="<%= team.id %>" <%= locals.values?.team === team.id ? 'selected' : '' %> data-org="<%= team.organisation_id %>"><%= team.name %></option>
                              <% } %>
                            </select>
                        </div>
                        <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                        <a class="govuk-button govuk-button--secondary" href="javascript:history.back()"><%= t('buttons.cancel')%></a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const organisation = document.getElementById('organisation');
        const team = document.getElementById('team');

        organisation.addEventListener('change', function () {
            const selectedOrgId = organisation.options[organisation.selectedIndex].value;
            const selectedTeamId = '<%= locals?.values?.team %>';
            const teamOptions = team.querySelectorAll('option');
            team.selectedIndex = 0;

            teamOptions.forEach(function (option) {
                option.style.display = option.dataset.org === selectedOrgId || option.value === '' ? 'block' : 'none';

                if (selectedTeamId && option.value === selectedTeamId && option.style.display == 'block') {
                    option.selected = true;
                }
            });
        });

        organisation.dispatchEvent(new Event('change'));
    });
</script>

<%- include("../partials/footer"); %>
