<%- include("../partials/header", {
    backLink: locals.referrer,
    returnLink: buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <span class="region-subhead"><%= dimension.metadata.name %></span>
        <h1 class="govuk-heading-xl"><%= t('publish.period_match_failure.heading') %></h1>

        <p class="govuk-body"><%= t('publish.period_match_failure.information', {failureCount: locals.extension.totalNonMatching}) %></p>
        <ul class="govuk-list govuk-list--bullet">
            <li class="govuk-list--bullet"><%= t('publish.period_match_failure.formatting') %></li>
            <li class="govuk-list--bullet"><%= t('publish.period_match_failure.choices') %></li>
        </ul>

        <p class="govuk-body"><%= t('publish.period_match_failure.supplied_format') %></p>

        <ul class="govuk-list govuk-list--bullet">
            <% if (locals.patchRequest.year_format) { %>
            <li class="govuk-list--bullet"><%- t('publish.period_match_failure.year_format', {format: locals.patchRequest.year_format}) %></li>
            <% } %>
            <% if (locals.patchRequest.quarter_format) { %>
            <li class="govuk-list--bullet"><%- t('publish.period_match_failure.quarter_format', {format: locals.patchRequest.quarter_format}) %></li>
            <% }%>
            <% if (locals.patchRequest.month_format) { %>
            <li class="govuk-list--bullet"><%- t('publish.period_match_failure.month_format', {format: locals.patchRequest.month_format}) %></li>
            <% }%>
            <% if (locals.patchRequest.date_format) { %>
                <li class="govuk-list--bullet"><%- t('publish.period_match_failure.date_format', {format: locals.patchRequest.date_format}) %></li>
            <% }%>
        </ul>

        <h2 class="govuk-heading-l"><%= t('publish.period_match_failure.subheading') %></h2>

        <ul class="govuk-list govuk-list--bullet">
            <% if (locals.extension.nonMatchingValues.length === 0) { %>
                <li class="govuk-list--bullet"><%= t('publish.period_match_failure.no_matches') %></li>
            <% } else { %>
                <% locals.extension.nonMatchingValues.forEach((value) => { %>
                    <li class="govuk-list--bullet"><%= value %></li>
                <% });%>
            <% } %>
        </ul>

        <h2 class="govuk-heading-l"><%= t('publish.period_match_failure.actions') %></h2>

        <p class="govuk-body"><a href="<%= buildUrl(`/publish/${locals.datasetId}/dates/${locals.dimension.id}/`, i18n.language) %>" class="govuk-link">
                <%= t('publish.period_match_failure.try_different_format')%></a></p>

        <p class="govuk-body"><a href="<%= buildUrl(`/publish/${locals.dataset.id}/upload`, i18n.language) %>" class="govuk-link">
                <%= t('publish.period_match_failure.upload_different_file')%>
            </a><br>
            <%= t('publish.period_match_failure.upload_different_file_warning')%></p>
    </main>
</div>

<%- include("../partials/footer"); %>

<style>
    .mid-dot {
        color: #ffffff;
        font-weight: 600;
    }
</style>
