<%- include("../partials/header", t); %>

<div class="govuk-width-container app-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <% if (locals.revisit) { %>
            <div class="top-links">
                <div class="govuk-width-container">
                    <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                    <% if (locals.datasetId) { %>
                        <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                    <% } %>
                </div>
            </div>
        <% } %>

        <h1 class="govuk-heading-xl"><%= locals.revisit ? t('publish.preview.heading_summary') : t('publish.preview.heading') %></h1>

        <% if (locals?.errors) { %>
            <div class="govuk-error-summary" data-module="govuk-error-summary">
                <div role="alert">
                    <h2 class="govuk-error-summary__title">
                        <%= t('errors.problem') %>
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <% locals.errors.errors.forEach(function(error) { %>
                                <li>
                                    <a href="#<%= error.field %>">
                                        <%= t(error.tag.name) %>
                                    </a>
                                </li>
                                <% }); %>
                        </ul>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <p class="govuk-body">
                    <% if (locals.revisit) { %>
                        <%= t('publish.preview.upload_summary', {cols: locals.headers?.length - locals.ignoredCount, rows: locals.page_info?.total_records, ignored: locals.ignoredCount}) %>
                    <% } else { %>
                        <strong><%- t('publish.preview.upload_has') %></strong>
                        <%= t('publish.preview.columns_rows', {cols: locals.headers.length, rows: locals.page_info.total_records}) %>
                    <% } %>
                </p>
            </div>
            <div class="govuk-grid-column-one-half" style="text-align: right;">
                <form action="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language) %>" method="get" role="page-size" class="govuk-!-margin-bottom-0">
                    <label class="govuk-label govuk-!-display-inline" for="page_size">
                        <%= t('pagination.page_size') %>
                    </label>
                    <select class="govuk-select govuk-!-display-inline" id="page_size" name="page_size">
                        <option value="5" <% if (locals.page_size===5) { %>selected <% }; %>>5</option>
                        <option value="10" <% if (locals.page_size===10) { %>selected <% }; %>>10</option>
                        <option value="25" <% if (locals.page_size===25) { %>selected <% }; %>>25</option>
                        <option value="50" <% if (locals.page_size===50) { %>selected <% }; %>>50</option>
                        <option value="100" <% if (locals.page_size===100) { %>selected <% }; %>>100</option>
                        <option value="250" <% if (locals.page_size===250) { %>selected <% }; %>>250</option>
                        <option value="500" <% if (locals.page_size===500) { %>selected <% }; %>>500</option>
                    </select>
                    <input type="hidden" name="file" value="<%= locals.datafile_id %>">
                    <input type="hidden" name="page_number" value="1">
                    <button type="submit" class="govuk-button govuk-!-display-inline" data-module="govuk-button">
                        <%= t('pagination.update') %>
                    </button>
                </form>
            </div>
        </div>
        <% if (locals?.data) { %>
            <table class="govuk-table">
                <colgroup>
                    <% locals.headers.forEach(function(cell, idx) { %>
                        <col class="<%= cell.type === 'ignore' ? 'ignore-column' : '' %>" />
                    <% }); %>
                </colgroup>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <% locals.headers.forEach(function(cell, idx) { %>
                            <th scope="col" class="govuk-table__header <%= cell.source_type === 'line_number' ? 'line-number' :'' %>">
                                <% if (cell.source_type && cell.source_type !== 'unknown' && cell.source_type !== 'line_number') { %>
                                    <span class="region-subhead"><%= t(`publish.preview.source_type.${cell.source_type}`) %></span><br />
                                <% } %>
                                <% if (cell.source_type !== 'line_number') { %>
                                    <%= cell.name || t('publish.preview.unnamed_column', { colNum: idx + 1 }) %>
                                <% } %>
                            </th>
                        <% }); %>
                    </tr>
                </thead>
                <tbody>
                    <% locals.data.forEach(function(row) { %>
                        <tr>
                            <% row.forEach(function(cell, index) { %>
                                <% if (index === 0) { %>
                                    <td class="govuk-table__cell line-number"><span class="linespan"><%= cell %></span></td>
                                <% } else { %>
                                    <td class="govuk-table__cell"><%= cell %></td>
                                <% } %>
                            <% }); %>
                        </tr>
                        <% }); %>
                </tbody>
            </table>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
                        <% if (locals.current_page === locals.total_pages) { %>
                            <ul class="govuk-pagination__list">
                                <li class="govuk-pagination__item govuk-pagination__item--active">
                                    <span aria-current="page" class="govuk-pagination__link">
                                        <%= locals.current_page %>
                                    </span>
                                </li>
                            </ul>
                        <% } else { %>
                            <% if (locals.current_page > 1) { %>
                                <div class="govuk-pagination__prev">
                                    <a class="govuk-link govuk-pagination__link"
                                       href="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language, { page_number: locals.current_page - 1, page_size: locals.page_size }) %>"
                                       rel="prev">
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                                             height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                            <path
                                                    d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                                            </path>
                                        </svg>
                                        <span class="govuk-pagination__link-title">
                                        <%= t('pagination.previous') %>
                                    </span>
                                    </a>
                                </div>
                            <% } %>
                            <ul class="govuk-pagination__list">
                                <% locals.pagination.forEach((item) => { %>
                                    <% if (item === '...') { %>
                                        <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                                            &ctdot;
                                        </li>
                                    <% } else if(item === locals.current_page) { %>
                                        <li class="govuk-pagination__item govuk-pagination__item--active">
                                            <span aria-current="page" class="govuk-pagination__link">
                                                <%= item %>
                                            </span>
                                        </li>
                                    <% } else { %>
                                        <li class="govuk-pagination__item">
                                            <a class="govuk-link govuk-pagination__link"
                                               href="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language, { page_number: item, page_size: locals.page_size }) %>"
                                               aria-label="Page <%= item %>">
                                                <%= item %>
                                            </a>
                                        </li>
                                    <% }%>
                                <% }); %>
                            </ul>
                            <% if (locals.current_page < locals.total_pages) { %>
                                <div class="govuk-pagination__next">
                                    <a class="govuk-link govuk-pagination__link"
                                       href="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language, { page_number: locals.current_page + 1, page_size: locals.page_size }) %>"
                                       rel="next">
                                    <span class="govuk-pagination__link-title">
                                        <%= t('pagination.next') %>
                                    </span>
                                        <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                                             xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                                             focusable="false" viewBox="0 0 15 13">
                                            <path
                                                    d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            <% } %>
                        <% } %>
                    </nav>
                </div>
                <div class="govuk-grid-column-one-third">
                    <p class="govuk-body" style="text-align: right; padding-top: 10px">
                        <%= t('publish.preview.showing_rows', {start: locals.page_info.start_record, end: locals.page_info.end_record, total: locals.page_info.total_records}) %>
                    </p>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                        <% if (locals.revisit) { %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/change`, i18n.language) %>" class="govuk-button govuk-!-display-inline"><%= t('publish.preview.buttons.change_datatable') %></a>
                        <% } else { %>
                            <p class="govuk-body"><%= t('publish.preview.confirm_correct') %></p>
                            <form method="post" role="continue">
                                <button type="submit" name="confirm" value="true" class="govuk-button govuk-!-display-inline" data-module="govuk-button" data-prevent-double-click="true">
                                    <%= t('buttons.continue') %>
                                </button>
                                <button type="submit" name="confirm" value="false" class="govuk-button govuk-button--secondary govuk-!-display-inline" data-module="govuk-button">
                                    <%= t('publish.preview.buttons.choose_different') %>
                                </button>
                            </form>
                        <% } %>
                </div>
            </div>
        <% } %> <!-- Do I have data? -->
    </main>
</div>

<style>
    .ignore-column {
        background-color: #eeeeee;
    }

    .line-number {
        color: #7f7f7f;
        text-align: right;
        font-family: monospace;
        border-bottom: none;
        border-top: none;
    }

    .region-subhead {
        color: #aa1111;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        letter-spacing: 0.08em;
        line-height: 20px;
        text-transform: uppercase;
    }
    </style>
<%- include("../partials/footer"); %>
