<%- include("../partials/header", {
    backLink: locals.revisit && buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language),
    returnLink: locals.revisit && locals.datasetId && buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl"><%= locals.revisit ? t('publish.preview.heading_summary') : t('publish.preview.heading') %></h1>

            <%- include("../partials/error-handler"); %>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half" style="padding-top: 7px">
                    <p class="govuk-body">
                        <% if (locals.revisit) { %>
                            <%= t('publish.preview.upload_summary', {cols: locals.headers?.length - locals.ignoredCount, rows: locals.page_info?.total_records, ignored: locals.ignoredCount}) %>
                        <% } else { %>
                            <%= t('publish.preview.preview_summary', {cols: locals.headers.length, rows: locals.page_info.total_records}) %>
                        <% } %>
                    </p>
                </div>
                <div class="govuk-grid-column-one-half" style="text-align: right;">
                    <form action="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language) %>" method="get" role="page-size" class="govuk-!-margin-bottom-0">
                        <label class="govuk-label govuk-!-display-inline" for="page_size">
                            <%= t('pagination.page_size') %>
                        </label>
                        <select class="govuk-select govuk-!-display-inline" id="page_size" name="page_size">
                            <option value="5" <% if (locals.page_size===5) { %>selected <% }; %>>5</option>
                            <option value="10" <% if (locals.page_size===10) { %>selected <% }; %>>10</option>
                            <option value="25" <% if (locals.page_size===25) { %>selected <% }; %>>25</option>
                            <option value="50" <% if (locals.page_size===50) { %>selected <% }; %>>50</option>
                            <option value="100" <% if (locals.page_size===100) { %>selected <% }; %>>100</option>
                            <option value="250" <% if (locals.page_size===250) { %>selected <% }; %>>250</option>
                            <option value="500" <% if (locals.page_size===500) { %>selected <% }; %>>500</option>
                        </select>
                        <input type="hidden" name="file" value="<%= locals.datafile_id %>">
                        <input type="hidden" name="page_number" value="1">
                        <button type="submit" class="govuk-button govuk-button-small govuk-!-display-inline" data-module="govuk-button">
                            <%= t('pagination.update') %>
                        </button>
                    </form>
                </div>
            </div>
            <% if (locals?.data) { %>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full with-overflow">
                        <%- include("../partials/table", {
                            isSticky: true,
                            colgroup: locals.headers.reduce((out, header) => {
                                return out + `<col class="${header.type === 'ignore' ? 'ignore-column' : ''}" />`
                            }, ''),
                            columns: locals.headers.map((header, index) => {
                                return {
                                    key: index,
                                    label: header.source_type === 'line_number'
                                        ? `<span class="govuk-visually-hidden">${t('publish.preview.row_number')}</span>`
                                        : (() => {
                                            const type = (header.source_type && header.source_type !== 'unknown' && header.source_type !== 'line_number')
                                                ? `<span class="region-subhead">${t(`publish.preview.source_type.${header.source_type}`)}</span><br />`
                                                : ''
                                            return `<div>
                                                ${type}
                                                <span>${header.name || t('publish.preview.unnamed_column', { colNum: idx + 1 })}</span>
                                            </div>`
                                        })(),
                                    cellClassName: header.source_type
                                }
                            }),
                            rows: locals.data
                        }); %>
                    </div>
                </div>

                <%- include("../partials/pagination"); %>

                <% if (locals.revisit) { %>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-full">
                                <form method="post" role="continue">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                            <h2 class="govuk-fieldset__heading">
                                                <%= t('publish.preview.revisit_question') %>
                                            </h2>
                                        </legend>
                                        <div class="govuk-radios govuk-body govuk-!-margin-bottom-3" data-module="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="actionChooserTable" name="actionChooser" type="radio" value="replace-table">
                                                <label class="govuk-label govuk-radios__label" for="actionChooserTable">
                                                    <%= t('publish.preview.upload_different')%>
                                                </label>
                                                <div id="actionChooserTable-hint" class="govuk-hint govuk-radios__hint">
                                                    <%- t('publish.preview.upload_different_hint')%>
                                                </div>
                                            </div>
                                            <div class="govuk-radios__item">
                                                <input class="govuk-radios__input" id="actionChooserSources" name="actionChooser" type="radio" value="replace-sources">
                                                <label class="govuk-label govuk-radios__label" for="actionChooserSources">
                                                    <%= t('publish.preview.change_source')%>
                                                </label>
                                                <div id="actionChooserSources-hint" class="govuk-hint govuk-radios__hint">
                                                    <%- t('publish.preview.change_source_hint')%>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="govuk-button-group">
                                            <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                                <%= t('buttons.continue') %>
                                            </button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                <% } else { %>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <form method="post" role="continue">
                                <fieldset class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                        <h2 class="govuk-fieldset__heading">
                                            <%= t('publish.preview.confirm_correct') %>
                                        </h2>
                                    </legend>
                                    <div class="govuk-button-group">
                                        <button type="submit" name="confirm" value="true" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                                            <%= t('buttons.continue') %>
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                <% } %>
            <% } %> <!-- Do I have data? -->
        </main>
    </div>
</div>

<%- include("../partials/footer"); %>
