<%- include("../partials/header"); %>
<script src="/assets/js/accessible-autocomplete.min.js"></script>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="top-links">
            <div class="govuk-width-container">
                <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <div class="govuk-width-container">
            <% if (locals.dataProviders?.length === 0 || locals.editId === 'new') { %>
                <!-- Add provider form is displayed whenever we're adding a "new" provider, or if there aren't any saved currently -->
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl"><%= t('publish.providers.add.heading') %></h1>
                        <%- include("../partials/error-handler"); %>

                        <p class="govuk-body"><%- t('publish.providers.add.explain') %></p>

                        <form enctype="multipart/form-data" method="post">
                            <div class="govuk-form-group">
                                <div class="govuk-hint" id="provider-hint"><%= t('publish.providers.add.form.provider.hint') %></div>
                                <select id="provider" name="provider_id" class="govuk-select" aria-describedby="provider-hint">
                                    <option value="" selected disabled></option>
                                    <% for (let provider of locals.availableProviders) { %>
                                        <option value="<%= provider.id %>"><%= provider.name %></option>
                                    <% } %>
                                </select>
                                <script type="text/javascript">
                                    accessibleAutocomplete.enhanceSelectElement({
                                        selectElement: document.querySelector('#provider'),
                                        autoSelect: true,
                                        showAllValues: true,
                                        defaultValue: ''
                                    });
                                </script>
                            </div>
                            <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                            <a class="govuk-button govuk-button--secondary" href="javascript:history.back()"><%= t('buttons.cancel')%></a>
                        </form>
                    </div>
                </div>
            <% } %>

            <% if (locals.dataProviders?.length > 0 && !locals.editId) { %>
                <!-- Provider table is displayed whenever we're not adding/editing a provider -->
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <h1 class="govuk-heading-xl"><%= t('publish.providers.list.heading') %></h1>
                        <%- include("../partials/error-handler"); %>

                        <table class="govuk-table">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header"><%= t('publish.providers.list.table.provider') %></th>
                                    <th scope="col" class="govuk-table__header"><%= t('publish.providers.list.table.source') %></th>
                                    <th scope="col" class="govuk-table__header"><%= t('publish.providers.list.table.action_header') %></th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <% for (let provider of locals.dataProviders) { %>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell"><%= provider.provider_name %></td>
                                        <td class="govuk-table__cell"><%= provider.source_name || t('publish.providers.list.table.no_source') %></td>
                                        <td class="govuk-table__cell nowrap">
                                            <ul class="govuk-summary-list__actions-list">
                                                <li class="govuk-summary-list__actions-list-item">
                                                    <a href="<%= buildUrl(`/publish/${locals.datasetId}/providers?delete=${provider.id}`, i18n.language) %>" class="govuk-link">
                                                        <%= t('publish.providers.list.table.action_delete') %>
                                                    </a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <!-- Add another provider form is displayed whenever we're not editing a provider -->
                        <form enctype="multipart/form-data" method="post">
                            <input type="hidden" name="add_another" value="true" />
                            <div class="govuk-form-group">
                                <h2 class="govuk-heading-m" id="add-provider"><%= t('publish.providers.list.form.add_another.heading') %></h2>

                                <fieldset class="govuk-fieldset" aria-describedby="add-provider">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="addYes" name="add_provider" type="radio" value="true" />
                                            <label class="govuk-label govuk-radios__label" for="addYes"><%= t('publish.providers.list.form.add_another.options.yes.label') %></label>
                                        </div>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="addNo" name="add_provider" type="radio" value="false" />
                                            <label class="govuk-label govuk-radios__label" for="addNo"><%= t('publish.providers.list.form.add_another.options.no.label') %></label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                            <a class="govuk-button govuk-button--secondary" href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>"><%= t('buttons.cancel')%></a>
                        </form>
                    </div>
                </div>

            <% } %>

            <% if (locals.editId && locals.editId !== 'new') { %>
                <!-- Select source form is displayed when we're editing a provider -->
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl"><%= t('publish.providers.add_source.heading') %></h1>
                        <%- include("../partials/error-handler"); %>

                        <h3 class="govuk-heading-s govuk-!-margin-bottom-1"><%= t('publish.providers.add_source.selected_provider') %></h3>
                        <p class="govuk-body"><%= locals.dataProvider.provider_name %></p>

                        <form enctype="multipart/form-data" method="post">
                            <input type="hidden" name="provider_id" value="<%= locals.dataProvider?.provider_id %>" />
                            <div class="govuk-form-group">
                                <fieldset class="govuk-fieldset" aria-describedby="add-source">
                                    <div class="govuk-radios" data-module="govuk-radios">
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="addYes" name="add_source" type="radio" value="true" data-aria-controls="conditional-add-source" <%= locals.dataProvider?.source_id || locals.addSource === true ? 'checked' : '' %> />
                                            <label class="govuk-label govuk-radios__label" for="addYes"><%= t('publish.providers.add_source.form.has_source.options.yes.label') %></label>
                                        </div>

                                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-add-source">
                                            <div class="govuk-form-group">
                                                <fieldset class="govuk-fieldset" role="group" aria-describedby="addYes">
                                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                        <%- t('publish.providers.add_source.form.source.note') %>
                                                    </legend>

                                                    <br />

                                                    <div class="govuk-hint"><%= t('publish.providers.add_source.form.source.hint') %></div>

                                                    <select id="source" name="source_id" class="govuk-select govuk-!-width-full" aria-describedby="source-hint">
                                                        <option value="" selected disabled></option>
                                                        <% for (let source of locals.availableSources) { %>
                                                            <option value="<%= source.id %>" <%= locals.dataProvider?.source_id === source.id ? 'selected' : '' %>><%= source.name %></option>
                                                        <% } %>
                                                    </select>
                                                </fieldset>
                                                <script type="text/javascript">
                                                    accessibleAutocomplete.enhanceSelectElement({
                                                        selectElement: document.querySelector('#source'),
                                                        autoSelect: true,
                                                        showAllValues: true,
                                                        defaultValue: ''
                                                    });
                                                </script>
                                            </div>
                                        </div>

                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="addNo" name="add_source" type="radio" value="false" />
                                            <label class="govuk-label govuk-radios__label" for="addNo"><%= t('publish.providers.add_source.form.has_source.options.no.label') %></label>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                            <a class="govuk-button govuk-button--secondary" href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>"><%= t('buttons.cancel')%></a>
                        </form>
                    </div>
                </div>
            <% } %>

        </div>
    </main>
</div>

<style>
    .nowrap {
        white-space: nowrap;
    }
</style>

<%- include("../partials/footer"); %>
