<%- include("../partials/header"); %>
<div class="govuk-width-container app-width-container">

    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="top-links">
            <div class="govuk-width-container">
                <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
            </div>
        </div>

        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl"><%= t('publish.quality.heading') %></h1>

                    <form enctype="multipart/form-data" method="post">
                        <%- include("../partials/error-handler"); %>

                        <p class="govuk-body"><%= t('publish.quality.explain') %></p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li><%= t('publish.quality.explain_1') %></li>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><%= t('publish.quality.explain_1a') %></li>
                                <li><%= t('publish.quality.explain_1b') %></li>
                            </ul>
                            <li><%= t('publish.quality.explain_2') %></li>
                        </ul>

                        <div class="govuk-form-group">
                            <div class="govuk-hint"><%= t('publish.quality.language') %></div>
                            <% if(locals.errors?.find(e => e.field === 'quality')) { %>
                                <p id="quality-error" class="govuk-error-message"><%= t('publish.quality.form.quality.error.missing') %></p>
                            <% } %>
                            <textarea class="govuk-textarea <%= locals.errors?.find(e => e.field === 'quality') ? 'govuk-textarea--error' : '' %>" id="quality" name="quality" rows="4"><%= locals.quality %></textarea>
                        </div>

                        <div class="govuk-form-group <%= locals.errors?.find(e => e.field === 'rounding_applied') ? 'govuk-form-group--error' : '' %>">
                            <fieldset class="govuk-fieldset" aria-describedby="rounding">
                                <h2 class="govuk-heading-s"><%= t('publish.quality.form.rounding_applied.heading') %></h2>
                                <% if(locals.errors?.find(e => e.field === 'rounding_applied')) { %>
                                    <p id="rounding_applied-error" class="govuk-error-message"><%= t('publish.quality.form.rounding_applied.error.missing') %></p>
                                <% } %>
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="roundingApplied1" name="rounding_applied" data-aria-controls="conditional-rounding1" type="radio" value="true" <%= locals.rounding_applied === true ? 'checked' : '' %> />
                                        <label class="govuk-label govuk-radios__label" for="roundingApplied1"><%= t('publish.quality.form.rounding_applied.options.yes.label') %></label>
                                    </div>
                                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-rounding1">
                                        <div class="govuk-form-group <%= locals.errors?.find(e => e.field === 'rounding_description') ? 'govuk-form-group--error' : '' %>">
                                        <fieldset class="govuk-fieldset" role="group" aria-describedby="roundingApplied1">
                                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                                <%= t('publish.quality.form.rounding_description.label') %>
                                            </legend>
                                            <div class="govuk-hint"><%= t('publish.quality.language') %></div>
                                            <% if(locals.errors?.find(e => e.field === 'rounding_description')) { %>
                                                <p id="rounding_description-error" class="govuk-error-message"><%= t('publish.quality.form.rounding_description.error.missing') %></p>
                                            <% } %>
                                            <textarea class="govuk-textarea" id="roundingDescription" name="rounding_description" rows="4" aria-describedby="roundingDescription-hint"><%= locals.rounding_description %></textarea>
                                        </fieldset>
                                        </div>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input class="govuk-radios__input" id="roundingApplied2" name="rounding_applied" type="radio" value="false" <%= locals.rounding_applied === false ? 'checked' : '' %> />
                                        <label class="govuk-label govuk-radios__label" for="roundingApplied2"><%= t('publish.quality.form.rounding_applied.options.no.label') %></label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                        <a class="govuk-button govuk-button--secondary" href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>"><%= t('buttons.cancel')%></a>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>

<%- include("../partials/footer"); %>
