<%- include("../partials/header"); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-xl"><%= t('publish.group.heading') %></h1>


                    <form enctype="multipart/form-data" method="post">
                        <%- include("../partials/error-handler"); %>

                        <div class="govuk-form-group <%= locals.errors?.find(e => e.field === 'group_id') ? 'govuk-form-group--error' : '' %>">
                            <fieldset class="govuk-fieldset" aria-describedby="group_id">
                                <div class="govuk-radios" data-module="govuk-radios">
                                    <% locals.availableGroups?.forEach(group => { %>
                                        <div class="govuk-radios__item">
                                            <input class="govuk-radios__input" id="<%= `group_${group.id}` %>" name="group_id" type="radio" value="<%= group.id %>" <%= values.group_id === group.id ? 'checked' : '' %> />
                                            <label class="govuk-label govuk-radios__label" for="<%= `group_${group.id}` %>"><%= group.name %></label>
                                        </div>
                                    <% }) %>
                                </div>
                            </fieldset>
                        </div>
                        <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                    </form>

                </div>
            </div>
        </main>
    </div>
</div>
<%- include("../partials/footer"); %>
