<%- include("../partials/header"); %>

    <div class="govuk-width-container app-width-container">
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <% if (locals.revisit) { %>
                <div class="top-links">
                    <div class="govuk-width-container">
                        <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% if (locals.datasetId) { %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <h1 class="govuk-heading-xl"><%= t('publish.sources.heading') %></h1>
            <%- include("../partials/error-handler"); %>
            <form action="<%= buildUrl(`/publish/${locals.datasetId}/sources`, i18n.language) %>" method="post">
                <div class="source-list">
                    <% locals.factTable.forEach((source, idx) => { %>
                        <div class="source-list-item">
                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-full">
                                    <span class="fix-width-30">
                                        <label class="govuk-label govuk-!-display-inline" for="column-<%= source.index %>">
                                            <strong><%= source.name || t('publish.preview.unnamed_column', { colNum: idx + 1 }) %></strong>
                                        </label>
                                    </span>
                                    <select class="govuk-select govuk-!-display-inline" id="column-<%= source.index %>" name="column-<%= source.index %>">
                                        <% locals.sourceTypes.forEach( (val) => { %>>
                                        <option value="<%= val %>" <%= source.type === val ? 'selected' : '' %>><%- t(`publish.sources.types.${val}`) %></option>
                                        <% })%>
                                    </select>
                                </div>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <p class="govuk-body"><button type="submit" class="govuk-button" data-module="govuk-button">
                            <%= t('buttons.continue') %>
                        </button></p>
                    </div>
                </div>
            </form>
        </main>
    </div>

<style>
    .fix-width-30 {
        min-width: 30%;
        display: inline-block;
    }
    .source-list {
        margin-bottom: 2em;
    }

    .source-list-item {
        border-bottom: 1px solid #0b0c0c;
        padding-bottom:0.5em;
        margin-bottom: 0.5em;
    }
</style>
<%- include("../partials/footer"); %>
