<%- include("../partials/header"); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">

        <main class="govuk-main-wrapper" id="main-content" role="main">

            <div class="top-links">
                <div class="govuk-width-container">
                    <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                    <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                </div>
            </div>

            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl"><%= t('publish.summary.heading') %></h1>

                        <%- include("../partials/error-handler"); %>

                        <p class="govuk-body"><%= t('publish.summary.explain') %></p>

                        <ul class="govuk-list govuk-list--bullet">
                            <li><%= t('publish.summary.explain_1') %></li>
                            <li><%= t('publish.summary.explain_2') %></li>
                        </ul>

                        <div class="govuk-hint">
                            <%= t('publish.summary.language') %>
                        </div>

                        <form enctype="multipart/form-data" method="post">
                            <div class="govuk-form-group">
                                <textarea class="govuk-textarea <%= locals.errors?.find(e => e.field === 'summary') ? 'govuk-textarea--error' : '' %>" id="summary" name="summary" rows="15"><%= locals.summary %></textarea>
                            </div>
                            <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<%- include("../partials/footer"); %>
