<%- include("../partials/header"); %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;"><%= datasetTitle %></h1>
      </div>
    </div>

    <%- include("../partials/dataset/status", { datasetStatus, publishingStatus }); %>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t('publish.tasklist.data.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <% if (locals.revision?.revision_index === 0 && !locals.revision.data_table_id) { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/update-type`, i18n.language) %>" aria-describedby="prepare-application-1-status">
                  <%= t('publish.tasklist.data.datatable') %>
                </a>
              <% } else if (!locals.revision.data_table_id) { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/upload`, i18n.language) %>" aria-describedby="prepare-application-1-status">
                  <%= t('publish.tasklist.data.datatable') %>
                </a>
              <% } else { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language) %>" aria-describedby="prepare-application-1-status">
                  <%= t('publish.tasklist.data.datatable') %>
                </a>
              <% } %>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.datatable }) %>
          </li>
          <% if (taskList.measure) { %>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/measure`, i18n.language) %>"><%=taskList.measure.name %></a>
              </div>
              <%- include("../partials/tasklist-status", { status: taskList.measure.status }) %>
            </li>
          <% } %>
          <% taskList.dimensions?.forEach(function(dimension) { %>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <% if (dimension.type === 'date_period') { %>
                      <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/time-period/${dimension.id}`, i18n.language) %>"><%= dimension.name %></a>
                    <% } else { %>
                      <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/dimension-data-chooser/${dimension.id}`, i18n.language) %>"><%= dimension.name %></a>
                    <% } %>
                </div>
                <%- include("../partials/tasklist-status", { status: dimension.status }) %>
              </li>
          <% }); %>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.metadata.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/title`, i18n.language) %>" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.title') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.title }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/summary`, i18n.language) %>" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.summary') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.summary }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/collection`, i18n.language) %>">
                <%= t('publish.tasklist.metadata.data_collection') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.collection }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/quality`, i18n.language) %>">
                <%= t('publish.tasklist.metadata.statistical_quality') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.quality }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/providers`, i18n.language) %>" aria-describedby="prepare-application-4-status">
                <%= t('publish.tasklist.metadata.data_sources') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.sources }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/related`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.related_reports') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.related }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/update-frequency`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.update_frequency') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.frequency }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/designation`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.designation') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.designation }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/topics`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.relevant_topics') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.metadata.topics }) %>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.translation.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <% if (taskList.translation.export === 'cannot_start') { %>
                <p class="govkuk-body govuk-!-margin-0"><%= t('publish.tasklist.translation.export') %></p>
              <% } else { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/translation/export`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                  <%= t('publish.tasklist.translation.export') %>
                </a>
              <% } %>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.translation.export }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <% if (taskList.translation.import === 'cannot_start') { %>
                <p class="govkuk-body govuk-!-margin-0"><%= t('publish.tasklist.translation.import') %></p>
              <% } else { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/translation/import`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                  <%= t('publish.tasklist.translation.import') %>
                </a>
              <% } %>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.translation.import }) %>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.publishing.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/organisation`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.organisation') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.publishing.organisation }) %>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/schedule`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.when') %>
              </a>
            </div>
            <%- include("../partials/tasklist-status", { status: taskList.publishing.when }) %>
          </li>
        </ul>
        <% if (taskList.canPublish) { %>
          <div>
            <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.submit.subheading') %></h2>
            <form enctype="multipart/form-data" method="post">
              <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('publish.tasklist.submit.button') %></button>
            </form>
          </div>
        <% } %>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-s">
          <a href="<%= buildUrl(`/publish/${locals.datasetId}/cube-preview`, i18n.language) %>" target="_blank">
            <%= t('publish.tasklist.preview') %>
          </a>
        </p>
      </div>
    </div>
  </main>
</div>

<%- include("../partials/footer"); %>
