<%- include("../partials/header"); %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;"><%= datasetTitle %></h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t('publish.tasklist.data.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/preview`, i18n.language) %>" aria-describedby="prepare-application-1-status">
                <%= t('publish.tasklist.data.datatable') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.datatable) %>">
                <%= t(`publish.tasklist.status.${taskList.datatable}`) %>
              </strong>
            </div>
          </li>
          <% if (taskList.measure) { %>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
              <div class="govuk-task-list__name-and-hint">
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/measure/`, i18n.language) %>"><%=taskList.measure.name %></a>
              </div>
              <div class="govuk-task-list__status">
                <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.measure.status) %>">
                  <%= t(`publish.tasklist.status.${taskList.measure.status}`) %>
                </strong>
              </div>
            </li>
          <% } %>
          <% taskList.dimensions.forEach(function(dimension) { %>
            <% const dim = locals.dimensions.find((d) => d.dimensionInfo.name === dimension.name) %>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <% if (dimension.type === 'time_period') { %>
                      <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/time-period/${dim.id}`, i18n.language) %>"><%= dimension.name %></a>
                    <% } else { %>
                      <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/dimension-data-chooser/${dim.id}`, i18n.language) %>"><%= dimension.name %></a>
                    <% } %>
                </div>
                <div class="govuk-task-list__status">
                  <strong class="govuk-tag govuk-tag--<%= statusToColour(dimension.status) %>">
                    <%= t(`publish.tasklist.status.${dimension.status}`) %>
                  </strong>
                </div>
              </li>
          <% }); %>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.metadata.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/title`, i18n.language) %>" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.title') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.title) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.title}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/summary`, i18n.language) %>" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.summary') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.summary) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.summary}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/collection`, i18n.language) %>">
                <%= t('publish.tasklist.metadata.data_collection') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.data_collection) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.data_collection}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/quality`, i18n.language) %>">
                <%= t('publish.tasklist.metadata.statistical_quality') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.statistical_quality) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.statistical_quality}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/providers`, i18n.language) %>" aria-describedby="prepare-application-4-status">
                <%= t('publish.tasklist.metadata.data_sources') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.data_sources) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.data_sources}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/related`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.related_reports') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.related_reports) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.related_reports}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/update-frequency`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.update_frequency') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.update_frequency) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.update_frequency}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/designation`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.designation') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.designation) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.designation}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/topics`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.relevant_topics') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.metadata.relevant_topics) %>">
                <%= t(`publish.tasklist.status.${taskList.metadata.relevant_topics}`) %>
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.translation.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <% if (taskList.translation.export === 'cannot_start') { %>
                <p class="govkuk-body govuk-!-margin-0"><%= t('publish.tasklist.translation.export') %></p>
              <% } else { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/translation/export`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                  <%= t('publish.tasklist.translation.export') %>
                </a>
              <% } %>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.translation.export) %>">
                <%= t(`publish.tasklist.status.${taskList.translation.export}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <% if (taskList.translation.import === 'cannot_start') { %>
                <p class="govkuk-body govuk-!-margin-0"><%= t('publish.tasklist.translation.import') %></p>
              <% } else { %>
                <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/translation/import`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                  <%= t('publish.tasklist.translation.import') %>
                </a>
              <% } %>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.translation.import) %>">
                <%= t(`publish.tasklist.status.${taskList.translation.import}`) %>
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.publishing.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/organisation`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.organisation') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.publishing.organisation) %>">
                <%= t(`publish.tasklist.status.${taskList.publishing.organisation}`) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${locals.datasetId}/schedule`, i18n.language) %>" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.when') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= statusToColour(taskList.publishing.when) %>">
                <%= t(`publish.tasklist.status.${taskList.publishing.when}`) %>
              </strong>
            </div>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-heading-s">
          <a href="<%= buildUrl(`/publish/${locals.datasetId}/cube-preview`, i18n.language) %>" target="_blank">
            <%= t('publish.tasklist.preview') %>
          </a>
        </p>
      </div>
    </div>
  </main>
</div>

<%- include("../partials/footer"); %>
