<%- include("../partials/header"); %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="region-subhead"><%= t('publish.tasklist.heading') %></h2>
        <h1 class="govuk-heading-l" style="margin-bottom: 15px;"><%= taskList.datasetTitle %></h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m"><%= t('publish.tasklist.data.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
                <%= t('publish.tasklist.data.datatable') %>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--green">
                <%= t('publish.tasklist.status.completed') %>
              </strong>
            </div>
          </li>
          <% taskList.dimensions.forEach(function(dimension) { %>
            <li class="govuk-task-list__item govuk-task-list__item--with-link">
                <div class="govuk-task-list__name-and-hint">
                    <a class="govuk-link govuk-task-list__link" href="<%= sourcesUrl %>"><%=dimension.name %></a>
                </div>
                <div class="govuk-task-list__status">
                  <strong class="govuk-tag govuk-tag--<%= dimension.state.colour %>">
                    <%= t(dimension.state.tag) %>
                  </strong>
                </div>
              </li>
          <% }); %>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.metadata.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="<%= buildUrl(`/publish/${taskList.datasetId}/title`, i18n.language) %>" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.title') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.title.colour %>">
                <%= t(taskList.metadata.title.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-summary.html" aria-describedby="prepare-application-3-status">
                <%= t('publish.tasklist.metadata.summary') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.summary.colour %>">
                <%= t(taskList.metadata.summary.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-collection.html">
                <%= t('publish.tasklist.metadata.data_collection') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.data_collection.colour %>">
                <%= t(taskList.metadata.data_collection.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-quality.html">
                <%= t('publish.tasklist.metadata.statistical_quality') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.statistical_quality.colour %>">
                <%= t(taskList.metadata.statistical_quality.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-data-source-more" aria-describedby="prepare-application-4-status">
                <%= t('publish.tasklist.metadata.data_sources') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.data_sources.colour %>">
                <%= t(taskList.metadata.data_sources.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-reports-more.html" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.related_reports') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.related_reports.colour %>">
                <%= t(taskList.metadata.related_reports.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-frequency.html" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.update_frequency') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.update_frequency.colour %>">
                <%= t(taskList.metadata.update_frequency.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-designation.html" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.designation') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.designation.colour %>">
                <%= t(taskList.metadata.designation.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="metadata-topics.html" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.metadata.relevant_topics') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.metadata.relevant_topics.colour %>">
                <%= t(taskList.metadata.relevant_topics.tag) %>
              </strong>
            </div>
          </li>
        </ul>

        <h2 class="govuk-heading-m govuk-!-margin-top-5"><%= t('publish.tasklist.publishing.subheading') %></h2>
        <ul class="govuk-task-list">
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="schedule" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.when') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.publishing.when.colour %>">
                <%= t(taskList.publishing.when.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="schedule" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.export') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.publishing.export.colour %>">
                <%= t(taskList.publishing.export.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="schedule" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.import') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.publishing.import.colour %>">
                <%= t(taskList.publishing.import.tag) %>
              </strong>
            </div>
          </li>
          <li class="govuk-task-list__item govuk-task-list__item--with-link">
            <div class="govuk-task-list__name-and-hint">
              <a class="govuk-link govuk-task-list__link" href="schedule" aria-describedby="prepare-application-5-status">
                <%= t('publish.tasklist.publishing.submit') %>
              </a>
            </div>
            <div class="govuk-task-list__status">
              <strong class="govuk-tag govuk-tag--<%= taskList.publishing.submit.colour %>">
                <%= t(taskList.publishing.submit.tag) %>
              </strong>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </main>
</div>

<style>
  .region-subhead {
    color: #aa1111;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.08em;
    line-height: 20px;
    text-transform: uppercase;
  }
</style>

<%- include("../partials/footer"); %>
