<%- include("../partials/header"); %>
    <div class="govuk-width-container app-width-container">
        <main class="govuk-main-wrapper" id="main-content" role="main">

            <% if (locals.revisit) { %>
                <div class="top-links">
                    <div class="govuk-width-container">
                        <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% if (locals.datasetId) { %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <h1 class="govuk-heading-xl"><%= t('publish.title.heading') %></h1>

            <%- include("../partials/error-handler"); %>

            <ul class="govuk-list govuk-list--bullet">
                <li><%= t('publish.title.appear') %></li>
                <li><%= t('publish.title.descriptive') %></li>
            </ul>

            <div class="govuk-hint"><%= t('publish.title.form.title.hint') %></div>

            <form enctype="multipart/form-data" method="post">
                <div class="govuk-form-group">
                    <input class="govuk-input <%= locals.errors?.find(e => e.field === 'title') ? 'govuk-input--error' : '' %>" id="title" name="title" type="text" value="<%= locals.title %>">
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('buttons.continue') %>
                </button>
            </form>
        </main>
    </div>

<%- include("../partials/footer"); %>
