<%- include("../partials/header"); %>

    <div class="govuk-width-container app-width-container">
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <% if (locals.revisit) { %>
                <div class="top-links">
                    <div class="govuk-width-container">
                        <a href="javascript:history.back()" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% if (locals.datasetId) { %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <h1 class="govuk-heading-xl"><%= t('publish.upload.title') %></h1>
            <%- include("../partials/error-handler"); %>
            <form action="<%= buildUrl(`/publish/${locals.datasetId}/upload`, i18n.language) %>" method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="csv">
                        <%= t('publish.upload.note') %>
                    </label>
                    <input class="govuk-file-upload" id="csv" name="csv" type="file" accept=".csv">
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('buttons.upload_csv') %>
                </button>
            </form>
        </main>
    </div>

<%- include("../partials/footer"); %>
