<%- include("../partials/header"); %>

    <div class="govuk-width-container app-width-container">
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <% if (locals.revisit) { %>
                <div class="top-links">
                    <div class="govuk-width-container">
                        <a href="<%= locals.referrer %>" class="govuk-back-link"><%= t('buttons.back') %></a>
                        <% if (locals.datasetId) { %>
                            <a href="<%= buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language) %>" class="govuk-link return-link"><%= t('publish.header.overview') %></a>
                        <% } %>
                    </div>
                </div>
            <% } %>

            <% if (locals.uploadType === 'lookup') { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.lookup_heading') %></h1>
            <% } else if (locals.uploadType === 'measure') { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.measure_heading') %></h1>
            <% } else { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.title') %></h1>
            <% } %>

            <%- include("../partials/error-handler"); %>

            <form method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="csv">
                        <%= t('publish.upload.form.file.label') %>
                    </label>
                    <input class="govuk-file-upload" id="csv" name="csv" type="file" placeholder="Upload file" accept=".csv,.parquet,.json,.xls,.xlsx,.gz,text/csv,application/vnd.apache.parquet,application/parquet,application/json,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/msexcel,application/gzip">
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('publish.upload.buttons.upload') %>
                </button>
                <% if (locals.uploadType) { %>
                    <a href="#" class="govuk-button govuk-button--secondary"><%= t('buttons.preview') %></a>
                <% } %>
            </form>
        </main>
    </div>

<%- include("../partials/footer"); %>
