<%- include("../partials/header", {
    backLink: locals.revisit && locals.referrer,
    returnLink: locals.revisit && locals.datasetId && buildUrl(`/publish/${locals.datasetId}/tasklist`, i18n.language)
}); %>
<div class="form-background">
    <div class="govuk-width-container app-width-container">

        <main class="govuk-main-wrapper" id="main-content" role="main">
            <% if (locals.uploadType === 'lookup') { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.lookup_heading') %></h1>
            <% } else if (locals.uploadType === 'measure') { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.measure_heading') %></h1>
            <% } else { %>
                <h1 class="govuk-heading-xl"><%= t('publish.upload.title') %></h1>
            <% } %>

            <%- include("../partials/error-handler"); %>

            <form method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--m" for="csv">
                        <%= t('publish.upload.form.file.label') %>
                    </label>
                    <input class="govuk-file-upload" id="csv" name="csv" type="file" placeholder="Upload file" accept="<%= locals.supportedFormats %>">
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button" style="vertical-align: unset;" data-prevent-double-click="true">
                        <%= t('publish.upload.buttons.upload') %>
                    </button>
                </div>
            </form>
        </main>
    </div>
</div>
<%- include("../partials/footer"); %>
