<%- include("partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><%= t('homepage.title') %></h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <a class="govuk-button" href="/<%= i18n.language %>/publish"><%= t('homepage.buttons.create') %></a>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <% if (locals.datasets && locals.datasets.length > 0) { %>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.id') %></th>
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.title') %></th>
                            <th scope="col" class="govuk-table__header" style="width:15%">Last updated</th>
                            <th scope="col" class="govuk-table__header">Dataset status</th>
                            <th scope="col" class="govuk-table__header">Publishing status</th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <% for (const dataset of locals.datasets) { %>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell"><%= dataset.code %></td>
                                    <td class="govuk-table__cell"><a href="/<%= i18n.language %>/publish/<%= dataset.id %>/tasklist" class="govuk-link"><%= dataset.title %></a></td>
                                    <td class="govuk-table__cell date"><%= dateFormat(dataset.last_updated, 'd MMMM yyyy') %></td>
                                    <td class="govuk-table__cell">
                                        <strong class="govuk-tag govuk-tag--<%= statusToColour(dataset.status) %>">
                                            <%= t(`homepage.status.${dataset.status}`) %>
                                        </strong>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <strong class="govuk-tag govuk-tag--<%= statusToColour(dataset.publishing_status) %>">
                                            <%= t(`homepage.publishing_status.${dataset.publishing_status}`) %>
                                        </strong>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                <% } else { %>
                    nodata
                <% } %>
            </div>
        </div>

    </main>
</div>

<style>
    .date {
        white-space: nowrap;
    }
</style>

<%- include("partials/footer"); %>
