<%- include("partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">

        <%- include("partials/flash-messages"); %>
        <%- include("partials/error-handler"); %>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl"><%= t('homepage.heading') %></h1>
            </div>
        </div>

        <% if (canCreate) { %>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <a class="govuk-button" href="<%= buildUrl(`/publish`, i18n.language) %>"><%= t('homepage.buttons.create') %></a>
                </div>
            </div>
        <% } %>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <% if (locals.data && locals.data.length > 0) { %>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.title') %></th>
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.group') %></th>
                            <th scope="col" class="govuk-table__header" style="width:15%"><%= t('homepage.table.last_updated') %></th>
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.dataset_status') %></th>
                            <th scope="col" class="govuk-table__header"><%= t('homepage.table.publish_status') %></th>
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <% for (const dataset of locals.data) { %>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <% if (dataset.publishing_status === 'incomplete') { %>
                                            <a href="<%= buildUrl(`/publish/${dataset.id}/tasklist`, i18n.language) %>" class="govuk-link"><%= dataset.title || `${dataset.title_alt} [${t('homepage.table.not_translated')}]` %></a>
                                        <% } else { %>
                                            <a href="<%= buildUrl(`/publish/${dataset.id}/overview`, i18n.language) %>" class="govuk-link"><%= dataset.title || `${dataset.title_alt} [${t('homepage.table.not_translated')}]` %></a>
                                        <% } %>
                                    </td>
                                    <td class="govuk-table__cell group"><%= dataset.group_name %></td>
                                    <td class="govuk-table__cell date"><%= dateFormat(dataset.last_updated, 'd MMMM yyyy', { locale: i18n.language }) %></td>
                                    <td class="govuk-table__cell status">
                                        <% if (dataset.status) { %>
                                            <strong class="govuk-tag govuk-tag--<%= statusToColour(dataset.status) %>">
                                                <%= t(`homepage.status.${dataset.status}`) %>
                                            </strong>
                                        <% } %>
                                    </td>
                                    <td class="govuk-table__cell status">
                                        <% if (dataset.publishing_status) { %>
                                            <strong class="govuk-tag govuk-tag--<%= statusToColour(dataset.publishing_status) %>">
                                                <%= t(`homepage.publishing_status.${dataset.publishing_status}`) %>
                                            </strong>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                    <% if (locals.total_pages > 1) { %>
                        <%- include("partials/pagination"); %>
                    <% } %>
                <% } else { %>
                    <p class="govuk-body"><%= t('homepage.no_results.summary') %></p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li><%= t('homepage.no_results.summary_1') %></li>
                        <li><%= t('homepage.no_results.summary_2') %></li>
                    </ul>
                <% } %>
            </div>
        </div>

    </main>
</div>

<style>
    td.group, td.date, td.status {
        white-space: nowrap;
    }
    .govuk-tag {
        max-width: none;
    }
</style>

<%- include("partials/footer"); %>
