<%- include("./partials/top", { isAuthenticated: locals.isAuthenticated }); %>

<div class="govuk-width-container app-width-container">
    <!-- <a href="#" class="govuk-back-link">Back</a> -->
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <h1 class="govuk-heading-xl"><%= t('homepage.title') %></h1>
    
        <p class="govuk-body"><%= t('homepage.welcome') %></p>
        
        <p class="govuk-body"><%= t('homepage.apitext') %> <a href="/api"><code>/api</code></a></p>
    </main>
</div>
    
<%- include("partials/bottom"); %>