<%- include("partials/top"); %>

    <div class="govuk-width-container app-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    <%= t('alpha') %>
                </strong>
                <span class="govuk-phase-banner__text">
                    <%= t('feedback') %>
                </span>
            </p>
        </div>
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl"><%= t('homepage.title') %></h1>
        
            <p class="govuk-body"><%= t('homepage.welcome') %></p>
            
            <p class="govuk-body"><%= t('homepage.apitext') %> <a href="/api"><code>/api</code></a></p>
        </main>
    </div>

<%- include("partials/bottom"); %>