<%- include("partials/top"); %>

    <div class="govuk-width-container app-width-container">
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl"><%= t('list.title') %></h1>
            <ul class="govuk-list">
            <% locals?.filelist.forEach(function(file) { %>
                <% file.titles.forEach(function(title) { %>
                    <% if (title.language === i18n.language) { %>
                        <li><a href="/<%= i18n.language %>/dataset/<%= file.dataset_id %>" class="govuk-link"><i class="fa-solid fa-file-csv"></i> <%= title.title %></a>
                    <% } %>
                <% }); %>
            <% }); %>
            </ul>
        </main>
    </div>

<%- include("partials/bottom"); %>