<%- include("partials/top"); %>

    <div class="govuk-width-container app-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    <%= t('alpha') %>
                </strong>
                <span class="govuk-phase-banner__text">
                    <%= t('feedback') %>
                </span>
            </p>
        </div>
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl"><%= t('list.title') %></h1>
            <ul class="govuk-list">
            <% locals?.filelist.forEach(function(file) { %>
                <li><a href="/<%= i18n.language %>/data?file=<%= file.name %>" class="govuk-link"><i class="fa-solid fa-file-csv"></i> <%= file.name %></a></li>
            <% }); %>
            </ul>
        </main>
    </div>

<%- include("partials/bottom"); %>