<%- include("partials/top"); %>

<div class="govuk-width-container app-width-container">
	<!-- <a href="#" class="govuk-back-link">Back</a> -->
	<main class="govuk-main-wrapper" id="main-content" role="main">
		<h1 class="govuk-heading-xl">Login</h1>
		<div class="govuk-button-group">
			<a href="/auth/google" class="govuk-button"><%= t('buttons.login-google') %></a>
			<a href="/<%= i18n.language %>/" class="govuk-link"><%= t('buttons.cancel') %></a>
		</div>
	</main>
</div>

<%- include("partials/bottom"); %>
