<%- include("partials/top"); %>
    <div class="govuk-width-container app-width-container">
        <div class="govuk-phase-banner">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag">
                    <%= t('alpha') %>
                </strong>
                <span class="govuk-phase-banner__text">
                    <%= t('feedback') %>
                </span>
            </p>
        </div>

        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <h1 class="govuk-heading-xl"><%= t('upload.title') %></h1>
            <% if (locals?.success) { %>
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
                aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        Your CSV has been uploaded successfully
                    </h3>
                </div>
            </div>
            <% } %>
            <% if (locals?.errors) { %>
                <div class="govuk-error-summary" data-module="govuk-error-summary">
                    <div role="alert">
                        <h2 class="govuk-error-summary__title">
                            There is a problem
                        </h2>
                        <div class="govuk-error-summary__body">
                            <ul class="govuk-list govuk-error-summary__list">
                                <% errors.forEach(function(error) { %>
                                    <li>
                                        <a href="#<%= error.field %>"><%= error.message %></a>
                                    </li>
                                <% }); %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% } %>
             
            <form action="/<%= i18n.language %>/upload" method="post" enctype="multipart/form-data">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="filename">
                            <%= t('upload.datasetName') %>:
                        </label>
                    </h1>
                    <input class="govuk-input" id="filename" name="filename" type="text">
                </div>
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--l" for="description">
                            <%= t('upload.datasetDescription') %>:
                        </label>
                    </h1>
                    <input class="govuk-input" id="description" name="description" type="text">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="csv">
                        <%= t('upload.selectCSV') %>
                    </label>
                    <input class="govuk-file-upload" id="csv" name="csv" type="file" accept=".csv">
                </div>
                <input type="hidden" name="page_number" value="1">
                <input type="hidden" name="page_size" value="100">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                    <%= t('upload.uploadBtn') %>
                </button>
            </form>
        </main>
    </div>
<%- include("partials/bottom"); %>
