
    <footer class="wg-footer">
        <div class="govuk-width-container">
            <a href="#top" role="button" class="govuk-button govuk-button--secondary"><%= t('footer.top_of_page') %></a>
        </div>
        <div class="govuk-width-container govuk-!-padding-top-9">
        <ul class="footer-menu govuk-list">
            <li class="menu__item"><a href="mailto:<%- locals.supportEmail %>"><%= t('footer.contact_us') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/accessibility-statement-govwales"><%= t('footer.accessibility') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/copyright-statement"><%= t('footer.copyright_statement') %></a></li>
            <li class="menu__item"><a href="/<%= i18n.language %>/cookies"><%= t('footer.cookies') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/website-privacy-policy"><%= t('footer.privacy') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/terms-and-conditions"><%= t('footer.terms_conditions') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/welsh-government-modern-slavery-statement"><%= t('footer.modern_slavery') %></a></li>
            <li class="menu__item"><a href="https://www.gov.wales/alternative-languages">Alternative languages</a></li>
        </ul>
        <div class="wg-footer-logo"></div>
        </div>
    </footer>

    <script type="module" src="/assets/js/govuk-frontend.min.js"></script>
    <script type="module">
        import { initAll } from '/assets/js/govuk-frontend.min.js';
        initAll();
    </script>
    <script src="https://kit.fontawesome.com/f6f4af2d4c.js" crossorigin="anonymous"></script>
</body>
</html>
