<!DOCTYPE html>
<html lang="en" class="govuk-template wg">

<head>
    <meta charset="utf-8">
    <title>StatsWales <%= t('beta') %><%= locals.title ? ` - ${locals.title}` : '' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue">
    <link rel="icon" sizes="48x48" href="/assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/images/govuk-icon-mask.svg" color="blue">
    <link rel="apple-touch-icon" href="/assets/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="stylesheet" href="/css/govuk-frontend.min.css">
    <link rel="stylesheet" href="/css/accessible-autocomplete.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta property="og:image" content="/images/govuk-opengraph-image.png">
</head>

<body class="govuk-template__body app-body-class" data-test="My value" data-other="report:details">
    <a id="top"></a>
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>

    <a href="#main-content" class="govuk-skip-link" data-module="govuk-skip-link"><%- t('header.navigation.skip_to_content') %></a>

    <div class="govuk-phase-banner">
        <div class="govuk-width-container">
            <p class="govuk-phase-banner__content">
                <strong class="govuk-tag govuk-phase-banner__content__tag"><%= t('consumer.global.phase_banner.beta') %></strong>
                <span class="govuk-phase-banner__text">
                    <%- t('consumer.global.phase_banner.feedback', { feedback_url: `/${i18n.language}/${t('routes.feedback')}`}) %>
                </span>
            </p>
        </div>
    </div>

    <header id="wg-header" class="wg-header">
        <div class="layout-container">
            <div class="header" id="header">
                <div class="header__components container-fluid">
                    <div id="block-govwales-branding">
                        <a href="<%= buildUrl('/', i18n.language) %>" title="<%= t('header.navigation.home') %>" class="header__logo" id="logo">
                            <span class="visually-hidden"><%= t('consumer.global.home_label') %></span>
                        </a>
                    </div>
                    <div class="language-switcher-language-url" id="block-govwales-languageswitcher" role="navigation"
                        aria-label="Language">
                        <ul class="links">
                            <% if (i18n.language === 'en-GB') { %>
                                <li class="cy"><a class="language-link" lang="cy" hreflang="cy" href="?lang=cy-GB" role="button">Cymraeg</a></li>
                            <% } else { %>
                                <li class="en"><a class="language-link" lang="en" hreflang="en" href="?lang=en-GB" role="button">English</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <nav class="primary js-primary-nav" aria-label="Primary Navigation">
        <div class="govuk-width-container nav__toggle">
            <a href="<%= buildUrl('/', i18n.language) %>"><div class="statsWales-logo" role="img" aria-label="StatsWales logo"></div></a>
            <% if (locals?.isAuthenticated) { %>
                <a class="button button--secondary ignore-external helper-menu__sign-out" href="/<%= i18n.language %>/auth/logout"><%= t('header.navigation.logout') %></a>
            <% } %>
        </div>
        <div class="nav__content">
            <div class="govuk-width-container">
                <ul aria-hidden="true">
                    <li><a href="<%= buildUrl('/', i18n.language) %>"><%= t('header.navigation.home') %></a></li>
                    <li><a href="<%= buildUrl('/guidance', i18n.language) %>"><%= t('header.navigation.guidance') %></a></li>
                    <% if (locals?.isDeveloper) { %>
                        <li><a href="<%= buildUrl('/developer', i18n.language) %>"><%= t('header.navigation.developer') %></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
