<div class="tabs">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-!-padding-bottom-0" id="main-content">
      <ul class="govuk-tabs__list" role="tablist">
        <% for(var i=0; i < tabs.length; i++) { %>
          <li class="govuk-tabs__list-item<%= i === 0 ? ' govuk-tabs__list-item--selected' : '' %>" role="presentation">
            <a class="govuk-tabs__tab" href="#<%= tabs[i].id %>" id="tab_<%= tabs[i].id %>" role="tab" aria-controls="<%= tabs[i].id %>" aria-selected="<%= i === 0 ? true : false %>" tabindex="<%= i %>">
              <%= tabs[i].label %>
            </a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
