<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <%- include("../partials/flash-messages"); %>

        <h1 class="govuk-heading-xl"><%= t('admin.user.list.heading') %></h1>

        <a href="<%= buildUrl(`/admin/user/create`, i18n.language) %>" class="govuk-button"><%= t('admin.user.list.buttons.add') %></a>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <% if (locals?.users && locals?.users.length > 0) {%>
              <%- include("../partials/table", {
                columns: [
                  {
                    key: 'full_name',
                    label: t('admin.user.list.table.name'),
                    format: (value, row) => {
                      const url = buildUrl(`/admin/user/${row.id}`, i18n.language);
                      return `<a href="${url}" class="govuk-link">${value || row.email}</a>`
                    }
                  },
                  {
                    key: 'groups',
                    label: t('admin.user.list.table.groups'),
                    format: (value) => value?.length || 0
                  },
                  {
                    key: 'last_login_at',
                    label: t('admin.user.list.table.login'),
                    format: (value) => value
                      ? dateFormat(value, 'd MMMM yyyy h:mm a') 
                      : t('admin.user.view.login_never')
                  },
                  {
                    key: 'status',
                    label: t('admin.user.list.table.status'),
                    format: (value) => `<strong class="govuk-tag govuk-tag--${statusToColour(value)}">${t(`admin.user.badge.status.${value}`)}</strong>`
                  }
                ],
                rows: locals.users
              }); %>
              <% if (locals.total_pages > 1) { %>
                <%- include("../partials/pagination"); %>
              <% } %>
            <% } %>
          </div>
        </div>
    </main>
</div>

<%- include("../partials/footer"); %>
