<%- include("../partials/header"); %>

  <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl"><%= locals.group?.name %></h1>

            <h2 class="govuk-heading-l"><%= t('admin.group.view.details.heading') %></h2>
            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.group.view.details.organisation.heading') %></dt>
                <dd class="govuk-summary-list__value"><%= locals.group?.organisation || t('admin.group.view.details.organisation.not_set') %></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.group.view.details.email.heading') %></dt>
                <dd class="govuk-summary-list__value"><%= locals.group?.email || t('admin.group.view.details.email.not_set') %></dd>
              </div>
            </dl>

            <a href="<%= buildUrl(`/admin/group/${locals.group.id}/name`, i18n.language) %>" class="govuk-link"><%= t('admin.group.view.buttons.edit') %></a>
          </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-6">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l"><%= t('admin.group.view.users.heading') %></h2>
            <% if (!locals.group?.users || locals.group.users.length === 0) { %>
              <p><%= t('admin.group.view.users.none') %></p>
            <% } else { %>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col"><%= t('admin.group.view.users.table.name') %></th>
                    <th class="govuk-table__header" scope="col"><%= t('admin.group.view.users.table.roles') %></th>
                    <th class="govuk-table__header" scope="col"><%= t('admin.group.view.users.table.status') %></th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <% locals.group.users.forEach(function(userWithRoles) { %>
                    <% var user = userWithRoles.user %>
                    <% var roles = userWithRoles.roles %>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href="<%= buildUrl(`/admin/user/${user.id}`, i18n.language) %>" class="govuk-link"><%= user.full_name || user.email %></a>
                      </td>
                      <td class="govuk-table__cell"><%= roles?.map(r => t(`user_roles.${r}`)).join(', ') %></td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--<%= statusToColour(user.status) %>"><%= t(`admin.user.badge.status.${user.status}`) %></strong>
                      </td>
                    </tr>
                  <% }) %>
                </tbody>
              </table>
            <% } %>
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l"><%= t('admin.group.view.datasets.heading') %></h2>
            <% if (!locals.group?.datasets || locals.group.datasets.length === 0) { %>
              <p><%= t('admin.group.view.datasets.none') %></p>
            <% } else { %>
              <p><%= t('admin.group.view.datasets.some', { count: locals.datsetCount }) %></p>
            <% } %>
          </div>
        </div>

      </main>
  </div>

<%- include("../partials/footer"); %>
