<%- include("../partials/header"); %>

  <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%- include("../partials/flash-messages"); %>

            <h1 class="govuk-heading-xl"><%= t('admin.user.roles.heading', { userName }) %></h1>

            <%- include("../partials/error-handler"); %>

            <form enctype="multipart/form-data" method="post">
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <h2 class="govuk-heading-l"><%= t('admin.user.roles.service.heading') %></h2>

                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <% for (let role of locals.availableRoles.global) { %>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="<%= `role_${role}` %>" name="global" type="checkbox" value="<%= role %>" <%= values.global?.includes(role) ? 'checked' : '' %>>
                        <label class="govuk-label govuk-checkboxes__label" for="<%= `role_${role}` %>"><%= t(`admin.user.roles.form.roles.options.${role}.label`) %></label>
                      </div>
                    <% } %>
                  </div>
                </fieldset>

                <% for (let organisation of locals.availableOrganisations) { %>
                  <fieldset class="govuk-fieldset">
                    <h2 class="govuk-heading-l"><%= organisation.name %></h2>

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <% for (let group of organisation.groups) { %>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="<%= `group_${group.id}` %>" name="groups" type="checkbox" value="<%= group.id %>" aria-controls="<%= `conditional-group-${group.id}` %>" <%= values.groups?.includes(group.id) ? 'checked' : '' %>>
                          <label class="govuk-label govuk-checkboxes__label" for="<%= `group_${group.id}` %>"><%= group.name %></label>
                        </div>
                        <% if (locals.availableRoles?.group.length > 0) { %>
                          <div class="govuk-checkboxes__conditional" id="<%= `conditional-group-${group.id}` %>">
                            <% for (let role of locals.availableRoles.group) { %>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="<%= `group_${group.id}_role_${role}` %>" name="<%= `group_roles_${group.id}` %>" type="checkbox" value="<%= role %>" <%= values[`group_roles_${group.id}`]?.includes(role) ? 'checked' : '' %>>
                                <label class="govuk-label govuk-checkboxes__label" for="<%= `group_${group.id}_role_${role}` %>"><%= t(`admin.user.roles.form.roles.options.${role}.label`) %></label>
                              </div>
                            <% } %>
                          </div>
                        <% } %>
                      <% } %>
                    </div>
                  </fieldset>
                <% } %>
              </div>
              <button type="submit" class="govuk-button" data-module="govuk-button"><%= t('buttons.continue') %></button>
            </form>
          </div>
        </div>

      </main>
  </div>

<%- include("../partials/footer"); %>
