<%- include("../partials/header"); %>

<div class="govuk-width-container app-width-container">
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <%- include("../partials/flash-messages"); %>

        <h1 class="govuk-heading-xl"><%= t('admin.group.list.heading') %></h1>

        <a href="<%= buildUrl(`/admin/group/create`, i18n.language) %>" class="govuk-button"><%= t('admin.group.list.buttons.add') %></a>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <% if (locals?.groups && locals?.groups.length > 0) {%>
              <%- include("../partials/table", {
                columns: [
                  {
                    key: 'name',
                    label: t('admin.group.list.table.name'),
                    format: (value, row) => {
                      const url = buildUrl(`/admin/group/${row.id}`, i18n.language);
                      return `<a href="${url}" class="govuk-link">${value}</a>`
                    }
                  },
                  {
                    key: 'email',
                    label: t('admin.group.list.table.email')
                  },
                  {
                    key: 'user_count',
                    label: t('admin.group.list.table.user_count')
                  },
                  {
                    key: 'dataset_count',
                    label: t('admin.group.list.table.dataset_count')
                  }
                ],
                rows: locals.groups
              }); %>
              <% if (locals.total_pages > 1) { %>
                <%- include("../partials/pagination"); %>
              <% } %>
            <% } %>
          </div>
        </div>
    </main>
</div>

<%- include("../partials/footer"); %>
