<%- include("../partials/header"); %>

  <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%- include("../partials/flash-messages"); %>

            <h1 class="govuk-heading-xl"><%= user.full_name || user.email %></h1>

            <dl class="govuk-summary-list">
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.user.view.details.status') %></dt>
                <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--<%= statusToColour(user.status) %>"><%= t(`admin.user.badge.status.${user.status}`) %></strong>
                </dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.user.view.details.email') %></dt>
                <dd class="govuk-summary-list__value"><%= user.email %></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.user.view.details.login') %></dt>
                <dd class="govuk-summary-list__value"><%= user.last_login_at ? dateFormat(user.last_login_at, 'd MMMM yyyy h:mm a') : t('admin.user.view.login_never') %></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.user.view.details.service_admin') %></dt>
                <dd class="govuk-summary-list__value"><%= user.global_roles.includes('service_admin') ? t('yes') : t('no') %></dd>
              </div>
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key"><%= t('admin.user.view.details.developer') %></dt>
                <dd class="govuk-summary-list__value"><%= user.global_roles.includes('developer') ? t('yes') : t('no') %></dd>
              </div>
            </dl>

            <h2 class="govuk-heading-l"><%= t('admin.user.view.groups.heading') %></h2>

            <% if (locals.groups && locals.groups.length > 0) { %>
              <%- include("../partials/table", {
                columns: [
                  {
                    key: 'name',
                    label: t('admin.user.view.groups.table.name'),
                    format: (value, row) => {
                      const url = buildUrl(`/admin/group/${row.id}`, i18n.language);
                      return `<a href="${url}">${value}</a>`
                    }
                  },
                  {
                    key: 'roles',
                    label: t('admin.user.view.groups.table.roles'),
                    format: value => value?.map(r => t(`user_roles.${r}`)).join(', ')
                  }
                ],
                rows: locals.groups
              }); %>
            <% } else { %>
              <p class="govuk-body"><%= t('admin.user.view.groups.empty') %></p>
            <% } %>

            <h2 class="govuk-heading-l"><%= t('admin.user.view.actions.heading') %></h2>

            <div class="actions">
              <ul class="govuk-list">
                <% locals.actions?.forEach(action => { %>
                  <li><a class="govuk-link govuk-link--no-underline" href="<%= action.url %>"><%= t(`admin.user.view.actions.${action.key}.label`) %></a></li>
                <% }) %>
              </ul>
            </div>

          </div>
        </div>

      </main>
  </div>

<%- include("../partials/footer"); %>
