<%- include("../partials/header"); %>
<div class="form-background">
  <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper" id="main-content" role="main">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl"><%= t('admin.user.create.heading') %></h1>

            <%- include("../partials/error-handler"); %>

            <form enctype="multipart/form-data" method="post">
              <div class="govuk-form-group">
                <input class="govuk-input <%= locals.errors?.find(e => e.field === 'email') ? 'govuk-input--error' : '' %>" id="email" name="email" type="email" value="<%= locals.values.email %>">
              </div>
              <button type="submit" class="govuk-button" data-module="govuk-button">
                  <%= t(`admin.user.create.buttons.continue`) %>
              </button>
            </form>
          </div>
        </div>

      </main>
  </div>
</div>

<%- include("../partials/footer"); %>
