<%- include("../partials/header", { developerPage: true }); %>

    <div class="govuk-width-container app-width-container">
        <!-- <a href="#" class="govuk-back-link">Back</a> -->
        <main class="govuk-main-wrapper" id="main-content" role="main">
            <% if (locals?.data) { %>
                <h1 class="govuk-heading-xl"><%- t('view.display.heading') %></h1>

                <%= include('../partials/error-handler') %>

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        <%= t('view.display.contents') %>
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#summary">
                                <%= t('view.display.summary') %>
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#dimension">
                                <%= t('view.display.dimension') %>
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#revision">
                                <%= t('view.display.revision') %>
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#imports">
                                <%= t('view.display.imports') %>
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#json">
                                JSON
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="summary">
                        <h2 class="govuk-heading-m"><%= t('view.display.summary') %></h2>
                        <p class="govuk-body-m"><strong><%- t('view.display.title') %></strong> <%= locals.dataset.datasetInfo.find((infos) => infos.language === i18n.language).title || `<${t('errors.name_missing')}>` %></p>

                        <p class="govuk-body-m"><strong><%- t('view.display.description') %></strong>
                            <%= locals.dataset.datasetInfo.find((infos) => infos.language === i18n.language).description || `<${t('errors.view.display.no_description')}>` %>
                        </p>
                    </div>
                    <div class="govuk-tabs__panel" id="dimension">
                        <h2 class="govuk-heading-m"><%= t('view.display.dimension') %></h2>
                        <% if (locals.dataset.dimensions.length > 0) { %>
                            <% locals.dataset.dimensions.forEach((dim) => { %>
                                <p class="govuk-body"><strong>ID:</strong> <%= dim.id %></p>
                                <p class="govuk-body"><strong><%- t('view.display.type') %>:</strong> <%= dim.type %></p>
                                <p class="govuk-body"><strong><%- t('view.display.start_revision') %>:</strong> <%= dim.start_revision_id %></p>
                                <p class="govuk-body"><strong><%- t('view.display.title') %>:</strong>
                                    <% const info = dim.dimensionInfo.find((info) => info.language === i18n.language) || dim.dimensionInfo.find((info) => info.language === i18n.language.split('-')[0]) %>
                                    <%= info.name %>
                                </p>
                                <p class="govuk-body-m"><strong><%- t('view.display.description') %></strong>
                                    <%= info.description %>
                                </p>
                                <p class="govuk-body-m"><strong><%- t('view.display.notes') %></strong>
                                    <%= info.notes %>
                                </p>
                                <hr>
                            <% });%>
                        <% } else { %>
                            <p class="govuk-body-l"><%= t('errors.view.display.no_dimensions') %></p>
                        <% } %>
                    </div>
                    <div class="govuk-tabs__panel" id="revision">
                        <h2 class="govuk-heading-m"><%= t('view.display.revision') %></h2>
                        <% if (locals.dataset.revisions.length > 0) { %>
                            <% locals.dataset.revisions.forEach((rev) => { %>
                                <p class="govuk-body"><strong>ID:</strong> <%= rev.id %></p>
                                <p class="govuk-body"><strong><%- t('view.display.index') %>:</strong> <%= rev.revision_index %></p>
                                <p class="govuk-body"><strong><%- t('view.display.creation_date') %>:</strong> <%= rev.created_at %></p>
                                <p class="govuk-body"><strong><%- t('view.display.created_by') %>:</strong> <%= rev.created_by %></p>
                            <% });%>
                        <% } else { %>
                            <p class="govuk-body-l"><%= t('errors.view.display.no_revisions') %></p>
                        <% } %>
                    </div>
                    <div class="govuk-tabs__panel" id="imports">
                        <h2 class="govuk-heading-m"><%= t('view.display.imports') %></h2>
                        <% if (locals.dataset.revisions.length > 0) { %>
                            <% locals.dataset.revisions.forEach((rev) => { %>
                                <% rev.imports.forEach((imp) => { %>
                                    <p class="govuk-body"><strong>ID:</strong> <%= imp.id %></p>
                                    <p class="govuk-body"><strong><%= t('view.display.filename') %>:</strong> <%= imp.filename %></p>
                                    <p class="govuk-body"><strong><%= t('view.display.mime_type') %>:</strong> <%= imp.mime_type %></p>
                                    <p class="govuk-body"><strong><%= t('view.display.location') %>:</strong> <%= imp.location %></p>
                                    <p class="govuk-body"><strong><%= t('view.display.download') %>:</strong>
                                        <a href="/<%= i18n.language %>/<%= t('routes.view.start') %>/<%= locals.dataset.id %>/import/<%= imp.id %>">
                                            <i class="fa-solid fa-download"></i> <%= t('view.display.download_file') %>
                                        </a></p>
                                <% }); %>
                            <% });%>
                        <% } else { %>
                            <p class="govuk-body-l"><%= t('errors.view.display.no_revisions') %></p>
                        <% } %>
                    </div>
                    <div class="govuk-tabs__panel" id="json">
                        <h2 class="govuk-heading-m">JSON</h2>
                        <textarea rows="20" cols="80"><%= JSON.stringify(locals.dataset) %></textarea>
                    </div>
                </div>

                <div class="table-display" style="border: 1px solid #000000; padding: 1em; margin-bottom: 1em;">
                    <table class="govuk-table">
                        <caption class="govuk-table__caption">CSV Data</caption>
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                            <tr>
                            <% locals.headers.forEach(function(cell) { %>
                                <th scope="col" class="govuk-table__header"><%= cell.name %></th>
                            <% }); %>
                            </tr>
                        </thead>
                        <tbody>
                            <% locals.data.forEach(function(row) { %>
                                <tr>
                                    <% row.forEach(function(cell) { %>
                                        <td class="govuk-table__cell"><%= cell %></td>
                                    <% }); %>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <p class="govuk-body">Showing lines <%= locals.page_info.start_record %> - <%= locals.page_info.end_record %> of <%=
                                locals.page_info.total_records %>
                </p>
                <p>&nbsp;</p>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <nav class="govuk-pagination" role="navigation" aria-label="Pagination">
                            <ul class="govuk-pagination__list"></ul>
                            <% locals.pages.forEach(function(page) { %>
                                <% if (page==='previous' ) { %>
                                    <div class="govuk-pagination__prev">
                                        <a class="govuk-link govuk-pagination__link"
                                            href="/<%= i18n.language %>/<%= t('routes.view.start') %>/<%= locals.dataset.id %>?&page_number=<%= locals.current_page-1 %>&page_size=<%= locals.page_size %>"
                                            rel="prev">
                                            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg"
                                                height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                                                <path
                                                    d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z">
                                                </path>
                                            </svg>
                                            <span class="govuk-pagination__link-title">
                                                <%= t('pagination.previous') %>
                                            </span>
                                        </a>
                                    </div>
                                    <% } else if (page==='next' ) { %>
                                        <div class="govuk-pagination__next">
                                            <a class="govuk-link govuk-pagination__link"
                                                href="/<%= i18n.language %>/<%= t('routes.view.start') %>/<%= locals.dataset.id %>?&page_number=<%= locals.current_page+1 %>&page_size=<%= locals.page_size %>"
                                                rel="next">
                                                <span class="govuk-pagination__link-title">
                                                    <%= t('pagination.next') %>
                                                </span>
                                                <svg class="govuk-pagination__icon govuk-pagination__icon--next"
                                                    xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true"
                                                    focusable="false" viewBox="0 0 15 13">
                                                    <path
                                                        d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                                                    </path>
                                                </svg>
                                            </a>
                                        </div>
                                        <% } else if (page==='...' ) { %>
                                            <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                                                &ctdot;
                                            </li>
                                            <% } else if (page===locals.current_page) { %>
                                                <li class="govuk-pagination__item govuk-pagination__item--active">
                                                    <span aria-current="page" class="govuk-pagination__link">
                                                        <%= page %>
                                                    </span>
                                                </li>
                                                <% } else { %>
                                                    <li class="govuk-pagination__item">
                                                        <a class="govuk-link govuk-pagination__link"
                                                            href="/<%= i18n.language %>/<%= t('routes.view.start') %>/<%= locals.dataset.id %>?&page_number=<%= page %>&page_size=<%= locals.page_size %>"
                                                            aria-label="Page <%= page %>">
                                                            <%= page %>
                                                        </a>
                                                    </li>
                                                    <% } %>
                                                        <% }); %>
                        </nav>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <form action="/<%= i18n.language %>/<%= t('routes.view.start') %>/<%= locals.dataset.id %>" method="get" role="page-size" class="govuk-!-margin-bottom-0">
                            <label class="govuk-label govuk-!-display-inline" for="page_size">
                                Page Size
                            </label>
                            <select class="govuk-select govuk-!-display-inline" id="page_size" name="page_size">
                                <option value="5" <% if (locals.page_size===5) { %>selected <% }; %>>5</option>
                                <option value="10" <% if (locals.page_size===10) { %>selected <% }; %>>10</option>
                                <option value="25" <% if (locals.page_size===25) { %>selected <% }; %>>25</option>
                                <option value="50" <% if (locals.page_size===50) { %>selected <% }; %>>50</option>
                                <option value="100" <% if (locals.page_size===100) { %>selected <% }; %>>100</option>
                                <option value="250" <% if (locals.page_size===250) { %>selected <% }; %>>250</option>
                                <option value="500" <% if (locals.page_size===500) { %>selected <% }; %>>500</option>
                            </select>
                            <input type="hidden" name="file" value="<%= locals.datafile_id %>">
                            <input type="hidden" name="page_number" value="1">
                            <button type="submit" class="govuk-button govuk-!-display-inline" data-module="govuk-button">
                                <%= t('pagination.update') %>
                            </button>
                        </form>
                    </div>
                </div>
            <% } else { %>
                <h1 class="govuk-heading-l"><%= t('display.title') %></h1>

                <%= include('../partials/error-handler') %>
            <% } %>
        </main>
    </div>
<%- include("../partials/footer"); %>
